<?php
/**
 * Shopping cart template
 *
 * @var $this Mage_Checkout_Block_Cart
 */
?>
<?php $_priceDisplay = ($this->helper('tax')->displayCartBothPrices()) ? 'display-both-prices' : 'display-single-price'; ?>

<div class="col2-right-layout clearfix section-content">


    <?php $message = $this->getMessagesBlock()->toHtml();
    if ($message): ?>
        <div class="tile-content">
            <?php echo $message ?>
        </div>
    <?php endif; ?>

    <div class="container-main">
        <?php echo $this->getChildHtml('breadcrumbs') ?>
        <div class="tile cart <?php echo $_priceDisplay; ?>">

            <?php echo $this->getChildHtml('form_before') ?>

            <form action="<?php echo $this->getFormActionUrl() ?>" method="post">
                <?php echo $this->getBlockHtml('formkey'); ?>
                <div class="shopping-cart-table-wrapper">

                    <div class="headline-wrapper">
                        <h1><?php echo $this->__('Shopping Cart') ?></h1>
                    </div>

                    <table id="shopping-cart-table" class="cart-table data-table">
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <col width="1"/>
                            <col width="1"/>
                        <?php endif; ?>
                        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                        <thead class="shopping-cart-table-head">
                        <tr>
                            <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Product') ?></span></th>
                            <th rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                            <th class="a-center cart-price-head" colspan="<?php echo $mergedCells; ?>">
                                <span class="nobr"><?php echo $this->__('Price') ?></span>
                            </th>
                            <th rowspan="<?php echo $mergedCells; ?>" class="a-center">
                                <?php echo $this->__('Qty') ?>
                                <?php /*if ($this->helper('wishlist')->isAllowInCart()) : ?>
                                    <span class="nobr"><?php echo $this->__('Move to Wishlist') ?></span>
                                <?php endif*/ ?>
                            </th>
                            <th class="a-center cart-total-head" colspan="<?php echo $mergedCells; ?>">
                                <?php echo $this->__('Subtotal') ?>
                            </th>
                            <th class="a-center" rowspan="<?php echo $mergedCells; ?>">&nbsp;</th>
                        </tr>
                        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <tr>
                                <th class="a-center cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                <th class="a-center cart-price-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                <th class="a-center cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                <th class="a-center cart-total-head"><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                            </tr>
                        <?php endif; ?>
                        </thead>
                        <tbody>
                            <?php foreach ($this->getItems() as $_item): ?>
                                <?php echo $this->getItemHtml($_item) ?>
                            <?php endforeach ?>
                        </tbody>
                    </table>
                </div>

                <div class="shopping-cart-links clearfix">

                    <button type="submit" name="update_cart_action" data-cart-empty value="empty_cart"
                            title="<?php echo $this->quoteEscape($this->__('Empty Cart')); ?>" class="button2 btn-empty"
                            id="empty_cart_button"><span><span><?php echo $this->__('Empty Cart'); ?></span></span>
                    </button>
                    <div class="links-right">
                        <button type="submit" name="update_cart_action" data-cart-item-update value="update_qty"
                                title="<?php echo $this->quoteEscape($this->__('Update Shopping Cart')); ?>"
                                class="button2 btn-update">
                            <span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span>
                        </button>

                        <span class="or"><?php echo $this->__('-OR DO-'); ?></span>

                        <?php if ($this->getContinueShoppingUrl()): ?>
                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Continue Shopping')) ?>"
                                    class="button2 btn-continue"
                                    onclick="setLocation('<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>')">
                                <span><span><?php echo $this->__('Continue Shopping') ?></span></span>
                            </button>
                        <?php endif; ?>
                    </div>
                    <!--[if lt IE 8]>
                    <input type="hidden" id="update_cart_action_container" data-cart-item-update/>
                    <script type="text/javascript">
                        //<![CDATA[
                                Event.observe(window, 'load', function()
                                {
                                    // Internet Explorer (lt 8) does not support value attribute in button elements
                                    $emptyCartButton = $('empty_cart_button');
                                    $cartActionContainer = $('update_cart_action_container');
                                    if ($emptyCartButton && $cartActionContainer) {
                                        Event.observe($emptyCartButton, 'click', function()
                                        {
                                            $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
                                            $cartActionContainer.setAttribute('name', 'update_cart_action');
                                            $cartActionContainer.setValue('empty_cart');
                                        });
                                    }

                                });
                            //]]>
                            </script>
                            <![endif]-->
                </div>

                <script type="text/javascript">decorateTable('shopping-cart-table')</script>
            </form>

            <?php echo $this->getChildHtml('shopping.cart.table.after'); ?>
        </div>

    </div>
    <div class="container-side">
        <div class="tile discount-tile">
            <div class="tile-content">
                <div class="cart-forms">
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $this->getChildHtml('checkout_cart_widget') ?>
                    <?php echo $this->getChildHtml('coupon') ?>
                    <?php echo $this->getChildHtml('checkout.cart.extra') ?>
                    <?php if (!$this->getIsVirtual()): echo $this->getChildHtml('shipping'); endif; ?>
                </div>
            </div>
        </div>
        <div class="tile prices-tile">
            <div class="tile-content">
                <div class="cart-totals-wrapper clearfix">
                    <div class="cart-totals">
                        <?php echo $this->getChildHtml('totals'); ?>
                        <?php if (!$this->hasError()): ?>
                            <ul class="checkout-types bottom">
                                <?php foreach ($this->getMethods('methods') as $method): ?>
                                    <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
                                        <li class="method-checkout-cart-methods method-<?php echo preg_replace("/[^_a-zA-Z0-9-]/", '-', $method); ?>"><?php echo $methodHtml; ?></li>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shopping-cart-bottom section-content">
    <?php echo $this->getChildHtml('crosssell'); ?>
</div>
