<?php
$contentBlock = $this->getChild('footer-links-content');

if(!$contentBlock):
  return;
endif;
?>

<div class="col footer-col">
  <p class="footer-title">
    <?php echo $contentBlock->getTitle(); ?>
  </p>
  <?php echo $contentBlock->getContent(); ?>
</div>