<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
/* @var $this Mage_Catalog_Block_Product_List */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
?>

<?php if (!$_productCollection->count()): ?>
  <div class="tile">
    <div class="tile-content clearfix">
        <div class="section-content">
          <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        </div>
    </div>
  </div>
<?php else: ?>
  <div class="products">
    <div class="section-content">
      <div class="toolbar-filter clearfix">
        <?php echo $this->getToolbarHtml() ?>
      </div>
    </div>

    <?php // List mode ?>
    <?php if ($this->getMode() != 'grid'): ?>
      <?php $_iterator = 0; ?>
      <div class="section-content">
        <ol class="products-list" id="products-list">
          <?php foreach ($_productCollection as $_product): ?>
            <li class="item<?php if (++$_iterator == sizeof($_productCollection)): ?> last<?php endif; ?>">
              <div class="product-inner">
                <div class="product-header">
                  <?php // Product Image ?>
                  <a href="<?php echo $_product->getProductUrl() ?>"
                     title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                     class="product-image">
                    <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                              one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                              we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                              will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                              This $_imgSize value could even be decreased further, based on the page layout
                              (one column, two column, three column) and number of product columns. */ ?>
                    <?php $_imgSize = 300; ?>
                    <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                  </a>
                      <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                          <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"
                                 class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                          <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>"
                                                                  class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                          </li>
                        <?php endif; ?>
                      </ul>
                </div>
                <?php // Product description ?>
                <div class="product-shop">
                  <div class="f-fix">
                    <div class="product-primary">
                      <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>

                      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-name-link">
                        <p class="product-name">
                          <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </p>
                        <?php if ($_product->getAdditionalname1() != null): ?>
                            <span class="product-name-addition">
                              <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                              <span class="product-name-addition-txt">
                                <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname1(), 'additionalname1') ?>
                              </span>
                            </span>
                        <?php endif; ?>
                        <?php if ($_product->getAdditionalname2() != null): ?>
                            <span class="product-name-addition">
                              <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                              <span class="product-name-addition-txt">
                                <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname2(), 'additionalname2') ?>
                              </span>
                            </span>
                        <?php endif; ?>
                      </a>


                      <?php if ($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product) ?>
                      <?php endif; ?>

                      <?php
                      // Provides extra blocks on which to hang some features for products in the list
                      // Features providing UI elements targeting this block will display directly below the product name
                      if ($this->getChild('name.after')) {
                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                          $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                          $_nameAfterChild->setProduct($_product);
                          echo $_nameAfterChild->toHtml();
                        }
                      }
                      ?>
                    </div>
                    <div class="product-secondary">
                      <?php echo $this->getPriceHtml($_product, true) ?>
                    </div>
                    <div class="product-secondary">
                      <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                        <p class="action">
                          <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>"
                                  class="button btn-cart"
                                  onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                            <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        </p>
                      <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                        <p class="action"><a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>"
                                             class="button"
                                             href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                        </p>
                      <?php else: ?>
                        <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                      <?php endif; ?>
                    </div>
                    <div class="desc std">
                      <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                         class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <?php endforeach; ?>
        </ol>
      </div>


    <?php else: ?>

      <?php // Grid Mode ?>

      <?php $_collectionSize = $_productCollection->count() ?>
      <?php $_columnCount = $this->getColumnCount(); ?>
      <div class="section-content">
        <ul class="products-grid">
          <?php
          $i = 0;

          /** @var Digitalwert_Productflags_Block_Flags $flagsBlock */
          $flagsBlock = $this->getChild('flags');
          ?>
          <?php foreach ($_productCollection as $_product): ?>
              <?php /** @var Mage_Catalog_Model_Product $_product */ ?>
             <?php /*if ($i++%$_columnCount==0): ?>
             <?php endif*/ ?>
             <li class="product">
              <div class="product-inner">
                <div class="product-header">
                   <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                       <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                            src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_AVERAGE); ?>"
                            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                   </a>

                    <?php
                    $flagsBlock->setProduct($_product);
                    echo $flagsBlock->toHtml();
                    ?>

                         <ul class="add-to-links">
                             <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                 <li>
                                     <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                         <svg viewBox="0 0 20 20" class="icon">
                                             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
                                         </svg>
                                         <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                                     </a>
                                 </li>
                             <?php endif; ?>
                             <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                 <li>
                                     <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">
                                         <svg viewBox="0 0 20 20" class="icon">
                                             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-compare"></use>
                                         </svg>
                                         <span class="visuallyhidden"><?php echo $this->__('Add to Compare') ?></span>
                                     </a>
                                 </li>
                             <?php endif; ?>
                         </ul>
                </div>
                  <div class="product-info">

                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-name-link">
                      <p class="product-name">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                      </p>
                      <?php if ($_product->getAdditionalname1() != null): ?>
                          <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                              <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname1(), 'additionalname1') ?>
                            </span>
                          </span>
                      <?php endif; ?>
                      <?php if ($_product->getAdditionalname2() != null): ?>
                          <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                              <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname2(), 'additionalname2') ?>
                            </span>
                          </span>
                      <?php endif; ?>
                    </a>

                       <?php
                       // Provides extra blocks on which to hang some features for products in the list
                       // Features providing UI elements targeting this block will display directly below the product name
                       if ($this->getChild('name.after')):
                           $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                           foreach ($_nameAfterChildren as $_nameAfterChildName):
                               $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                               $_nameAfterChild->setProduct($_product);
                               echo $_nameAfterChild->toHtml();
                           endforeach;
                       endif;
                       ?>
                    <div class="product-footer">
                       <?php echo $this->getPriceHtml($_product, true) ?>
                       <?php if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                       <?php endif; ?>
                       <div class="actions">
                           <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                       </div>
                    </div>
                   </div>
                 </div>
             </li>
             <?php /*if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
             <?php endif*/ ?>
         <?php endforeach ?>
        </ul>
      </div>
    <?php endif; ?>

  </div>

  <?php
  $toolbarBottom = $this->getToolbarBlock();
  $toolbarBottom->setTemplate('catalog/product/list/toolbar/bottom.phtml');
  $toolbarBottom->setPagerShouldRenderRel(false);
  $toolbarBottomHtml = trim( $toolbarBottom->toHtml() );
  ?>
  <?php if(!empty($toolbarBottomHtml)): ?>
    <div class="section-content">
      <div class="toolbar toolbar-bottom clearfix">
        <?php echo $toolbarBottomHtml; ?>
      </div>
    </div>
  <?php endif; ?>
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')):
  $_afterChildren = $this->getChild('after')->getSortedChildren();
  foreach ($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    //set product collection on after blocks
    $_afterChild->setProductCollection($_productCollection);
    echo $_afterChild->toHtml();
  endforeach;
endif;
?>
