<?php
$_helper = $this->helper('catalog/output');
/** @var Digitalwert_Productflags_Block_Flags $flagsBlock */
$flagsBlock = $this->getChild('flags');
?>

<?php if(($_products = $this->getProductCollection()) && $_products->getSize()): ?>
  <div class="tile">
    <div class="section-content">
      <div class="product-slider-wrapper">

        <div class="product-slider-introtile">
          <div class="product-slider-introtile-inner">
            <div class="introtile-top">
              <p class="tile-subtitle"><?php echo $this->__('Our current recommendations') ?></p>
            </div>
            <div class="introtile-bottom"></div>
          </div>
        </div>

      <div class="products products-slider products-slider-new clearfix">
          <div class="products-grid products-slider-list">

            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
              <div class="product">
                <div class="product-inner">
                  <div class="product-header">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_AVERAGE) ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" />
                    </a>
                    <?php
                    $flagsBlock->setProduct($_product);
                    echo $flagsBlock->toHtml();
                    ?>
                      <ul class="add-to-links">
                          <?php if ($this->helper('wishlist')->isAllow()) : ?>
                              <li>
                                  <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                      <svg viewBox="0 0 20 20" class="icon">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
                                      </svg>
                                      <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                                  </a>
                              </li>
                          <?php endif; ?>
                          <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                              <li>
                                  <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">
                                      <svg viewBox="0 0 20 20" class="icon">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-compare"></use>
                                      </svg>
                                      <span class="visuallyhidden"><?php echo $this->__('Add to Compare') ?></span>
                                  </a>
                              </li>
                          <?php endif; ?>
                      </ul>
                  </div>

                  <div class="product-info">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-name-link">
                      <p class="product-name">
                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                      </p>
                      <?php if ($_product->getAdditionalname1() != null): ?>
                          <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                              <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname1(), 'additionalname1') ?>
                            </span>
                          </span>
                      <?php endif; ?>
                      <?php if ($_product->getAdditionalname2() != null): ?>
                          <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                              <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname2(), 'additionalname2') ?>
                            </span>
                          </span>
                      <?php endif; ?>
                    </a>

                    <div class="product-footer">
                      <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                      <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                      <div class="actions">
                        <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <?php endforeach; ?>
          </div>
      </div>
      </div>
    </div>
  </div>
<?php endif; ?>
