<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Digitalwert_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$_stringHelper = $this->helper('core/string');
$_product = $this->getProduct();
$brandCategory = $this->helper('catalog/category')->getBrandCategory($_product);
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view">
    <div class="product-essential clearfix">
        <div class="section-content">
        <div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
        <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-img-box">
                <?php echo $this->getChildHtml('media') ?>
            </div>

            <div class="product-shop">
                <div class="product-name">
                    <span class="product-cart-sku"><?php echo $this->__('SKU'); ?>: <?php echo $_product->getSku(); ?></span>

                    <?php if ($brandCategory != null): ?>
                        <div class="product-brand-container">
                            <a href="<?php echo $brandCategory->getUrl(); ?>" class="product-brand-link">
                                <span class="product-brand-link-txt"><?php echo $_product->getHersteller();?></span>
                                <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-submit"></use></svg>
                            </a>
                        </div>
                    <?php endif; ?>

                    <h1>
                        <span class="product-name-headline">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </span>
                        <?php if ($_product->getAdditionalname1() != null): ?>
                        <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                                <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname1(), 'additionalname1') ?>
                            </span>
                        </span>
                        <?php endif; ?>
                        <?php if ($_product->getAdditionalname2() != null): ?>
                        <span class="product-name-addition">
                            <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                            <span class="product-name-addition-txt">
                                <?php echo $_helper->productAttribute($_product, $_product->getAdditionalname2(), 'additionalname2') ?>
                            </span>
                        </span>
                        <?php endif; ?>
                    </h1>
                </div>

<?php /*
<?php if ($_product->isSaleable() && $this->hasOptions()):?>
<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
<?php endif;?>

<?php $buttonTitle = Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>
*/ ?>
                <div class="product-cols">

                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <div class="product-col-66">
                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        </div>
                    <?php endif;?>
                    <div class="product-col-33">
                        <?php // Amount of articles / selection field ?>
                        <?php if ($_product->isSaleable()): ?>
                        <?php if (!$_product->isGrouped()): ?>
                            <label class="product-option clearfix">
                              <span class="product-option-label">
                                <?php echo $this->__('Qty:') ?>
                              </span>
                              <span class="input-box">
                                <input type="number" pattern="\d*" name="qty" id="qty" maxlength="12"
                                       value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text"/>
                              </span>
                            </label>
                        <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </div>

                <div class="product-cols">
                    <div class="product-col-66">
                        <div class="extra-info">
                            <?php echo $this->getReviewsSummaryHtml($_product, 'default', false)?>
                            <?php echo $this->getChildHtml('product_type_availability'); ?>
                        </div>
                    </div>
                    <div class="product-col-33">
                        <?php $imgName = $_stringHelper->createFilename($_product->getHersteller()); ?>
                        <div class="pds-brand">
                            <?php if ($brandCategory != null): ?>
                            <a href="<?php echo $brandCategory->getUrl(); ?>">
                            <?php endif; ?>
                            <div class="pds-brand-img" style="background-image: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'marken/' . $imgName;?>.png);">
                                <span class="visuallyhidden"><?php echo $imgName; ?></span>
                            </div>
                            <?php if ($brandCategory != null): ?>
                            </a>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>

                <div class="price-info">
                    <?php echo $this->getPriceHtml($_product); ?>
                    <?php echo $this->getChildHtml('bundle_prices') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                </div>

                <div class="add-to-cart-wrapper">
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getChildHtml('extrahint') ?>

                    <div class="add-to-box clearfix">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                    </div>

                    <?php echo $this->getChildHtml('extra_buttons') ?>
                </div>

                <?php echo $this->getChildHtml('alert_urls') ?>
                <?php echo $this->getChildHtml('other');?>
            </div>
            
        </form>
    </div>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            //]]>
        </script>
    </div>

    <div class="section-content">
        <div class="shortdescription-highlights">
            <?php if ($_product->getShortDescription()):?>
                <div class="shortdescription content-2column">
                    <h3><?php echo $this->__('Short overview'); ?></h3>
                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></div>
                </div>
            <?php endif;?>

            <div class="product-view-highlights content-2column">
                <?php echo $this->getChildHtml('product.features'); ?>
            </div>
        </div>


        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
            <div class="tab-container"> 
                <?php foreach ($detailedInfoGroup as $alias => $html):?>
                    <?php echo $html ?>
                <?php endforeach;?>
            </div>
        <?php endif; ?>
    </div>

    <div class="product-details tile-content text-content">
        <?php echo $this->getChildHtml('product_additional_data') ?>
    </div>
</div>

<?php echo $this->getChildHtml('related_products') ?>
<?php echo $this->getChildHtml('upsell_products') ?>
