<div class="tile dashboard section-content">
  <div class="tile-content customer-account-content">

    <h1><?php echo $this->__('My Dashboard') ?></h1>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <?php echo $this->getChildHtml('hello') ?>
    <?php echo $this->getChildHtml('top') ?>
    <div class="box-account box-info">
      <div class="box-head">
        <h2><?php echo $this->__('Account Information') ?></h2>
      </div>
      <?php /* Extensions placeholder */ ?>
      <?php echo $this->getChildHtml('customer.account.dashboard.extra') ?>
      <?php echo $this->getChildHtml('info') ?>
      <?php echo $this->getChildHtml('address') ?>
    </div>
    <?php echo $this->getChildHtml('info1') ?>
    <?php echo $this->getChildHtml('info2') ?>

  </div>
</div>
