<li class="aside-fix_item">
    <button class="sidebar-btn">
        <svg
            viewBox="0 0 20 20" class="icon icon-category">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-category"></use>
        </svg>
        <span><?php echo $this->__('My Account'); ?></span>
    </button>
    <div class="sidebar_container">
        <div class="sidebar_container-inner">
            <strong class="sidebar_container-headline"><?php echo $this->__('My Account'); ?></strong>
            <ul class="category-list">
                <?php $_links = $this->getLinks(); ?>
                <?php $_index = 1; ?>
                <?php $_count = count($_links); ?>
                <?php foreach ($_links as $_link): ?>
                    <?php $_last = ($_index++ >= $_count); ?>
                    <li>
                        <a class="sidenav-link" href="<?php echo $_link->getUrl() ?>">
                            <?php if ($this->isActive($_link)): ?>
                                <strong><?php echo $_link->getLabel() ?></strong>
                            <?php else: ?>
                                <?php echo $_link->getLabel() ?>
                            <?php endif; ?>

                            <span class="sidenav-add">
                                <svg viewBox="0 0 20 20" class="icon icon-submit">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                <?php endforeach; ?>

                <li class="category-item">
                    <a class="category-link customer-account-logout" href="<?php echo $this->getUrl('customer/account/logout') ?>">
                        <?php echo $this->__('Log Out'); ?>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</li>