<?php
$contentBlock = $this->getChild('teaser-content-service');

if(!$contentBlock):
    return;
endif;
?>

<div class="home_teaser_item">
    <div class="home_teaser_item-inner">
        <div class="home_teaser_content">
            <svg
                viewBox="0 0 20 20" class="icon">
                <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-<?php echo $contentBlock->getIcon(); ?>"></use>
            </svg>

            <span class="home_teaser_headline">
                <?php echo $contentBlock->getTitle(); ?>
            </span>

            <div class="home_teaser_txt">
                <?php echo $contentBlock->getContent(); ?>
            </div>
        </div>
    </div>
</div>
