<li class="offers-item tile-opening">
	<div class="offers-item-inner">
		<div class="tile-opening-inner">
			<p class="tile-subtitle"><?php echo $this->__('category teaser headline'); ?></p>
		</div>
	</div>
</li>
