@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('../fonts/montserrat-extralight-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-extralight-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-extralight-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-light-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-medium-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-thin-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-thin-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-thin-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratultra_light';
    src: url('../fonts/montserrat-ultralight-webfont_led.woff2') format('woff2'),
         url('../fonts/montserrat-ultralight-webfont_led.woff') format('woff'),
         url('../fonts/montserrat-ultralight-webfont_led.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
