<p class="footer-title"><?php echo $this->__('Subscribe to our newsletter and get a coupon'); ?></p>

<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
    <div class="block-content">
        <div class="input-box">
            <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" placeholder="<?php echo $this->__('enter email address'); ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" class="input-text required-entry validate-email" />

            <button type="submit" class="submit">
                <svg viewBox="0 0 20 20" class="icon">
                    <use xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-submit"></use>
                </svg>
                <span class="visuallyhidden"><?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?></span>
            </button>
        </div>
    </div>
    <p>
        <?php echo $this->__('sign up for our newsletter and get regular news via email'); ?><br>
        <small>¹ <?php echo $this->__('coupon hint'); ?></small>
    </p>
</form>
<script type="text/javascript">
//<![CDATA[
var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>