<?php
/** @var $this Digitalwert_Productflags_Block_Flags */

/** @var Mage_Catalog_Model_Product $product */
$product = $this->getProduct();

if (!$product):
    return;
endif;
?>

<?php if ( $product->getFinalPrice() < $product->getPrice() OR $this->isNewProduct($product) OR !$this->isInStockProduct($product) ): ?>
    <div class="product_flag-wrapper">
    <?php if ($product->getFinalPrice() < $product->getPrice()): ?>
        <span class="product_flag is--lowerPriced">%</span>
    <?php endif; ?>

    <?php if ( $this->isNewProduct($product) ): ?>
        <span class="product_flag is--newProduct"><?php echo $this->__('flag new'); ?></span>
    <?php endif; ?>

    <?php if ( !$this->isInStockProduct($product) ): ?>
        <span class="product_flag is--outOfStock"><?php echo $this->__('flag out of stock'); ?></span>
    <?php endif; ?>
    </div>
<?php endif; ?>