<?php /* @var $this Mage_Catalog_Block_Product_View_Options_Type_Default */ ?>
<?php $_option = $this->getOption() ?>

<label class="product-option clearfix">
  <span class="product-option-label">
    <?php echo $this->escapeHtml($_option->getTitle()) ?>
  </span>
</label>