<?php /* @var $this Mage_Catalog_Block_Product_View_Options_Type_Select */ ?>

<?php $_option = $this->getOption() ?>
<div class="product-option clearfix">
  <span class="product-option-label">
    <?php if($_option->getIsRequire()): ?>
    <?php endif; ?>
    <?php echo $this->escapeHtml($_option->getTitle()) ?>
  </span>
  <div class="input-box">
    <?php echo $this->getValuesHtml() ?>
    <?php if ($_option->getIsRequire()): ?>
      <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_RADIO || $_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX): ?>
        <span id="options-<?php echo $_option->getId() ?>-container"></span>
      <?php endif; ?>
    <?php endif; ?>
  </div>
</div>