<?php
?>
<div class="section-content">
    <div class="customer-account-content wishlist-share-content">
        <div class="page-title">
            <h1><?php echo $this->__('Share Your Wishlist') ?></h1>
        </div>
        <?php echo $this->getMessagesBlock()->toHtml() ?>
        <form action="<?php echo $this->getSendUrl() ?>" id="form-validate" method="post">
            <div class="fieldset section-content">
                <?php echo $this->getBlockHtml('formkey')?>
                <h2 class="legend"><?php echo $this->__('Sharing Information') ?></h2>
                <ul class="form-list">
                    <li class="wide">
                        <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email addresses, separated by commas') ?></label>
                        <div class="input-box">
                            <textarea name="emails" cols="60" rows="5" id="email_address" class="validate-emails required-entry"><?php echo $this->getEnteredData('emails') ?></textarea>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="message"><?php echo $this->__('Message') ?></label>
                        <div class="input-box">
                            <textarea id="message" name="message" cols="60" rows="5"><?php echo $this->getEnteredData('message') ?></textarea>
                        </div>
                    </li>
                    <?php if($this->helper('wishlist')->isRssAllow()): ?>
                    <li class="control">
                        <div class="input-box">
                            <input type="checkbox" name="rss_url" id="rss_url" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Check this checkbox if you want to add a link to an rss feed to your wishlist.')) ?>" class="checkbox" />
                        </div>
                        <label for="rss_url"><?php echo $this->__('Check this checkbox if you want to add a link to an rss feed to your wishlist.') ?></label>
                    </li>
                    <?php endif; ?>
                </ul>
                <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            </div>
            <div class="buttons-set form-buttons">
                <p class="back-link"><a href="<?php echo $this->getBackUrl(); ?>"><small>&laquo; </small><?php echo $this->__('Back')?></a></p>
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Share Wishlist')) ?>" class="button"><span><span><?php echo $this->__('Share Wishlist') ?></span></span></button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
Validation.addAllThese([
    ['validate-emails', '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Please enter a valid email addresses, separated by commas. For example johndoe@domain.com, johnsmith@domain.com.')) ?>', function (v) {
    if(Validation.get('IsEmpty').test(v)) {
        return true;
    }

    var valid_regexp = /^[a-z0-9\._-]{1,30}@([a-z0-9_-]{1,30}\.){1,5}[a-z]{2,4}$/i;
    var emails = v.split(',');

    for (var i=0; i<emails.length; i++) {
        if(!valid_regexp.test(emails[i].strip())) {
            return false;
        }
    }

    return true;
    }]
]);
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
