<?php
/**
 * Grouped product data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 * @see Mage_Catalog_Block_Product_View_Type_Grouped
 */
?>
<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<div class="grouped-items-table-wrapper">
    <table class="data-table grouped-items-table" id="super-product-table">
        <tbody>
        <?php if ($_hasAssociatedProducts): ?>
            <?php foreach ($_associatedProducts as $_item): ?>
                <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
                <tr>
                    <td class="name">
                        <p class="name-wrapper">
                            <?php echo $this->escapeHtml($_item->getName()) ?>
                        </p>
                    </td>
                    <td>
                        <?php if ($_product->isSaleable()): ?>
                            <div class="qty-wrapper">
                                <?php if ($_item->isSaleable()) : ?>
                                    <input id="super_group_<?php echo $_item->getId(); ?>" type="number" pattern="\d*"
                                           name="super_group[<?php echo $_item->getId() ?>]" maxlength="12"
                                           value="<?php echo ($_item->getQty() == 0)? 1:($_item->getQty() * 1) ?>"
                                           title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>"
                                           class="input-text qty"/>
                                    <label for="super_group_<?php echo $_item->getId(); ?>" class="qty-label">
                                        <?php echo $this->__('Quantity'); ?>
                                    </label>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </td>
                    <?php if ($this->getCanShowProductPrice($_product)): ?>
                        <td class="a-right">
                            <?php if ($this->getCanShowProductPrice($_item)): ?>
                                <?php echo $this->getPriceHtml($_item, true) ?>
                                <?php echo $this->getTierPriceHtml($_item) ?>
                            <?php endif; ?>
                        </td>
                    <?php endif; ?>
                </tr>
            <?php endforeach; ?>
        <?php else: ?>
            <tr>
                <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>
</div>
