<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Thank you, Sinnocon GmbH!</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
