.offers {
    // margin: 0 (-$gap * 2);
    margin: 0 -15px;
    padding: 2rem 0 3rem;
    font-size: 0;
    letter-spacing: 0;
}

.offers-item {
    // margin: 1% 2%;
    font-size: $f-size;
    width: 20%;
    display: inline-block;

    @include bp(max-width, $bp-large) {
        & + & {
            margin-top: 2%;
        }
    }

    // @include bp(min-width, $bp-xsmall + 1) {
    //     display: inline-block;
    //     // margin-right: 0;
    //     width: 47%;
    // }

    // @include bp(min-width, $bp-xlarge + 1) {
    //     // width: 30.6667%;
    //     // width: 18%;
    //     width: 20%;
    // }

    @include bp(max-width, 1400px) {
        width: 25%;
    }

    @include bp(max-width, 1200px) {
        width: 33.3333%;
    }

    @include bp(max-width, 800px) {
        width: 50%;
    }

    @include bp(max-width, 650px) {
        width: 100%;
    }

    &.tile-opening {
        vertical-align: top;

        .tile-opening-inner {
            padding-top: calc(80% + 60px);
            position: relative;
            background-color: $c-gray-dark;

            @include bp(max-width, 650px) {
                padding-top: 50px;
            }
        }

        .tile-subtitle {
            margin: 0;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }
    }


}

// @media (max-width: 650px) {
    // .offers-item {
    //     &.tile-opening {
    //         .tile-opening-inner {
    //             padding-top: 50px;
    //         }
    //     }
    // }
// }

.offers-item-inner {
    padding: 15px;
}

.offers-link {
    display: block;
    width: 100%;
    position: relative;

    // &:before {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 60px;
    //     left: 0;
    //     background-color: rgba(0,0,0,.5);
    // }

    &:hover {
        text-decoration: none;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);

        // &:before {
        //     content: "";
        // }
    }
}

.offers-link-img {
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 80%;
    background-position: 50% 0;
    background-size: auto 100%;
    border-bottom: 0;
    // box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.offers-link-title {
    display: table;
    width: 100%;
    font-size: 16px;
    color: $c-gray-2;
    // background-color: $c-green;

    // .offers-link:hover & {
    //     background-color: $c-lightgreen;
    // }
}

.offers-link-title-inner {
    display: table-cell;
    height: 60px;
    padding-right: $gap;
    padding-left: $gap * 2;
    vertical-align: middle;
    background-color: $c-gray-light;
}

.offer {
    .tile-title-icon {
        background-color: $c-red;
    }

    .btn-cart {
        width: 100%;
    }
}

.offer-title {
    font-size: 20px;
    margin-bottom: 1em;
}

.offer-data {
    margin: ($gap * 2) 0;
    color: #fff;
    background-color: $c-text;

    .col {
        padding: 2% 4%;
        font-size: 20px;
    }
}

.offer-data-label {
    font-size: 15px;
}

@include bp(min-width, $bp-medium + 1) {
    .offer-data .col {
        width: 33.3333%;
    }
}

@include bp(min-width, $bp-xlarge + 1) {
    .offer-col {
        width: 49%;

        & + & {
            margin-left: 2%;
            padding-top: $gap * 6;
        }
    }
}
