<?php
/* @var Digitalwert_Widgets_Block_Brandslider $this */
$allBrands = $this->getAllBrands();

if ($allBrands == null):
  return;
endif;
?>

<div class="tile is--white has--border">
    <div class="section-content">
        <div class="slider logo-slider">
            <div class="logo-slider-inner">

            <?php foreach ($allBrands as $brand): ?>
                <?php
                $imgName = $this->getImageName($brand->getName());
                $filePath = Mage::getBaseDir(Mage_Core_Model_Store::URL_TYPE_MEDIA) . '/marken/' . $imgName;

                if (!file_exists($filePath)):
                    continue;
                endif;
                ?>

                <div class="logo-slider-item">
                    <a href="<?php echo $brand->getUrl() ?>" class="logo-slider-link">
                        <img 
                        src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'marken/' . $imgName; ?>" 
                        class="logo-slider-img" 
                        alt="<?php echo $brand->getName(); ?>">
                    </a>
                </div>
            <?php endforeach; ?>
            
            </div>
        </div>
    </div>
</div>
