<a href="<?php echo $this->getLinkUrl(); ?>" class="teaser-link-wrapper">
<div class="teaser is--half-page" style="background-image:url(<?php echo $this->getImageUrl() ?>)">
    <div class="section-content">
        <div class="section-content-inner">
            <div class="teaser_content">
                <h3 class="h3 teaser-headline">
                    <?php echo $this->getHeadline(); ?>
                </h3>
                <p class="teaser-txt">
                    <?php echo nl2br($this->getDescription()); ?>
                </p>
            </div>
            <span class="teaser-link"><?php echo $this->getText(); ?></span>
            <?php /*
            <a class="teaser-link" href="<?php echo $this->getLinkUrl(); ?>"><?php echo $this->getText(); ?></a>
            */ ?>
        </div>
    </div>
</div>
</a>
