<div class="teaser is--full-page" style="background-image:url(<?php echo $this->getImageUrl() ?>)">
    <div class="section-content">
        <div class="section-content-inner">
            <div class="teaser_content">
                <h3 class="h3 teaser-headline">
                    <?php echo $this->getHeadline(); ?>
                </h3>
                <p class="teaser-txt">
                    <?php echo nl2br($this->getDescription()); ?>
                </p>
            </div>
            <a class="teaser-link" href="<?php echo $this->getLinkUrl(); ?>"><?php echo $this->getText(); ?></a>
        </div>
    </div>
</div>
