<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */
?>
<?php if ($this->getCollection()->getSize()): ?>
  <?php $pagerHtml = trim($this->getPagerHtml()); ?>
  <?php if(!empty($pagerHtml)): ?>
      <div class="clearfix">
        <div class="pager">
          <?php echo $pagerHtml ?>
        </div>
      </div>
  <?php endif ?>
<?php endif ?>
