<?php
$_product = $this->getProduct(); ?>
<?php if ($this->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <h2 class="availability-instock-title"><?php echo $this->__('Delivery')?></h2>
        <table class="availability in-stock">
            <tr>
                <td>
                    <span class="label available"><?php echo $this->helper('catalog')->__('Availability:')?> </span>
                </td>
                <td>
                    <span class="value available">
                        <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                        <?php echo $this->helper('catalog')->__('In stock')?>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label delivery-time"><?php echo $this->__('DeliveryTime:')?> </span>
                </td>
                <td>
                    <span class="value delivery-time">
                        <?php echo $_product->getDeliveryTime() ?>
                    </span>
                </td>
            </tr>
        </table>
    <?php else: ?>
        <p class="availability out-of-stock">
            <span class="label"><?php echo $this->helper('catalog')->__('Availability:') ?></span>
            <span class="value"><?php echo $this->helper('catalog')->__('Out of stock') ?></span>
        </p>
    <?php endif; ?>
<?php endif; ?>
