<li class="offers-item">
	<div class="offers-item-inner">
	  <a <?php echo $this->getLinkAttributes() ?> class="offers-link">
	    <div class="offers-link-img" style="background-image:url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $this->getImage() ?>)"></div>
	    <div class="offers-link-title">
	      <div class="offers-link-title-inner">
	        <?php echo $this->escapeHtml($this->getAnchorText()) ?>
	      </div>
	    </div>
	  </a>
	</div>
</li>
