<?php
/**
 * Category layered navigation state
 *
 * @see Mage_Catalog_Block_Layer_State
 */
?>
<?php
$_filters = $this->getActiveFilters();
$_renderers = $this->getParentBlock()->getChild('state_renderers')->getSortedChildren();
?>
<?php if(!empty($_filters)): ?>
    <div class="currently filter-on">
        <p class="block-subtitle"><?php echo $this->__('Currently Shopping by:') ?></p>
        <ol>
        <?php foreach ($_filters as $_filter): ?>
            <?php
            $_rendered = false;
            foreach ($_renderers as $_rendererName):
                $_renderer = $this->getParentBlock()->getChild('state_renderers')->getChild($_rendererName);
                if (method_exists($_renderer, 'shouldRender') && $_renderer->shouldRender($_filter)):
                    $_renderer->setFilter($_filter);
                    echo $_renderer->toHtml();
                    $_rendered = true;
                    break;
                endif;
            endforeach;

            if (!$_rendered):
            ?>
            <li class="compare-items">
                <span class="label"><?php echo $this->__($_filter->getName()) ?>:</span>

                <?php
                    $clearLinkUrl = $_filter->getClearLinkUrl();
                    if ($clearLinkUrl):
                ?>12
                    <a  class="btn-previous" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>"><?php echo $this->__('Previous') ?></a>
                    <a  class="btn-remove" title="<?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>" href="<?php echo $clearLinkUrl ?>"><?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></a>
                <?php else: ?>
                    <a class="btn-remove" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove This Item')) ?>">
                        <svg viewBox="0 0 20 20" class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-close"></use>
                        </svg>
                        <span class="visuallyhidden"><?php echo $this->__('Remove This Item') ?></span>
                    </a>
                <?php endif; ?>
                <span class="value"><?php echo $this->stripTags($_filter->getLabel()) ?></span>
            </li>
            <?php endif; ?>
        <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?>