<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */
?>
<?php if ($this->canShowBlock()): ?>

    <?php if ($this->getLayer()->getState()->getFilters()): ?>
      <div class="tile-content">
        <?php echo $this->getStateHtml() ?>

        <div class="actions">
          <a href="<?php echo $this->getClearUrl() ?>" class="button compare-btn"><?php echo $this->__('Clear All') ?></a>
        </div>
      </div>
    <?php endif; ?>

    <?php if ($this->canShowOptions()): ?>
      <?php $_filters = $this->getFilters() ?>
      <?php foreach ($_filters as $_filter): ?>
        <?php if ($_filter->getType() == 'catalog/layer_filter_category'): continue; endif; ?>
        <?php if ($_filter->getItemsCount()): ?>
          <div class="sidebar_filter_box">
            <div class="tile-content">
              <span class="sidebar_filter-headline"><?php echo $this->__($_filter->getName()) ?></span>
            </div>
            <?php
            if ($_filter->getType() == 'catalog/layer_filter_price'):
              $_filter->setTemplate('catalog/layer/filter/price.phtml');
            endif;
            ?>

            <?php echo $_filter->getHtml() ?>
          </div>
        <?php endif; ?>
      <?php endforeach; ?>
    <?php endif; ?>

<?php endif; ?>
