<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */

/** @var Mage_Catalog_Block_Category_View $this */
?>
<?php
/** @var Mage_Catalog_Helper_Output $_helper */
$_helper = $this->helper('catalog/output');

/** @var Digitalwert_Catalog_Helper_Category $_categoryHelper */
$_categoryHelper = $this->helper('catalog/category');

/** @var Mage_Catalog_Model_Category $_category */
$_category = $this->getCurrentCategory();

/** @var Int $serviceRootCategoryId */
$serviceRootCategoryId = Mage::getStoreConfig(Digitalwert_Catalog_Helper_Category::CATEGORY_SERVICE_ID_XMLPATH);

/** @var Boolean $isService */
$isService = $_categoryHelper->isCategoryChildOf($_category, $serviceRootCategoryId);
?>

<div class="category-content<?php if ($isService): echo ' category-service'; endif; ?> text-content">
  <?php if ($this->isContentMode()): ?>
    <div class="tile section-content">
      <?php echo $this->getCmsBlockHtml() ?>
    </div>
  <?php elseif ($this->isMixedMode()): ?>
    <?php $cmsContent = trim($this->getCmsBlockHtml()); ?>

    <?php if(!empty($cmsContent)): ?>
      <div class="tile section-content">
        <?php echo $this->getCmsBlockHtml() ?>
      </div>
    <?php endif; ?>

    <?php if(empty($cmsContent)): ?>
      <?php echo $this->getProductListHtml() ?>
    <?php else: ?>
      <?php
      $productListBlock = $this->getChild('product_list');
      // $productListBlock->setTemplate('catalog/product/list/slider.phtml');
      echo $productListBlock->toHtml();
      ?>
    <?php endif; ?>

    <?php if ($_descriptionBottom = $this->getCurrentCategory()->getDescriptionBottom()): ?>
      <div class="section-content">
        <div class="big-textbox">
          <div class="big-textbox-inner">
            <?php echo $_helper->categoryAttribute($_category, $_descriptionBottom, 'description_bottom') ?>
          </div>
        </div>
      </div>
    <?php endif; ?>

    <?php echo $this->getChildHtml('price_info'); ?>
  <?php else: ?>
    <?php echo $this->getProductListHtml() ?>
    <?php echo $this->getChildHtml('price_info'); ?>
  <?php endif; ?>
</div>
