<?php $categories = $this->getCategoryCollection() ?>

<?php if($categories): ?>
  <p class="footer-title"><?php echo $this->__('Top Categories'); ?></p>

  <ul class="footer-list">
    <?php foreach($categories as $_category): ?>
      <li class="footer-list-item">
        <a class="footer-list-link" href="<?php echo $_category->getUrl() ?>">
          <?php echo $_category->getName() ?>
        </a>
      </li>
    <?php endforeach; ?>
  </ul>
<?php endif; ?>