<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>

<?php
$items = $this->getItems();

if (count($items) == 0):
    return;
endif;

$filterMaxAbsoluteValue = (int)$items[0]->getFilter()->getData('max_price_int');
?>

<div class="sidebar_filter_pricerange">
    <input class="pricefilter multirange range-min" type="range" multiple name="pricerange" value="0" data-max-abs-value="<?php echo $filterMaxAbsoluteValue; ?>" />
    <input class="pricefilter multirange range-max" type="range" multiple name="pricerange" value="100" data-max-abs-value="<?php echo $filterMaxAbsoluteValue; ?>" />
</div>
<div class="sidebar_filter_pricerange_minmax">
    <div class="sidebar_filter_pricerange_min">
        <span class="price-min">0</span>
        <span class="currency-symbol">€</span>
    </div>
    <div class="sidebar_filter_pricerange_max">
        <span class="price-max"><?php echo $filterMaxAbsoluteValue; ?></span>
        <span class="currency-symbol">€</span>
    </div>
</div>
<div class="sidebar_filter_pricerange_button">
    <a class="pricerange-btn">
        <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-update"></use></svg>
        <span>Aktualisieren</span>
    </a>
</div>

