<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>
<?php if ($_product->isSaleable()): ?>
  <div class="add-to-cart clearfix">
    <div class="add-to-cart-buttons">
      <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart"
              onclick="productAddToCartForm.submit(this)">
        <span>
          <svg viewBox="0 0 20 20" class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-cart"></use>
          </svg>
          <span><?php echo $buttonTitle ?></span>
        </span>
      </button>
      <div class="btn-accessory">
        <?php echo $this->getChildHtml('', true, true) ?>
      </div>
    </div>
  </div>
<?php endif; ?>
