<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>

<ul class="add-to-links">
  <?php if ($this->helper('wishlist')->isAllow()) : ?>
    <li>
      <a href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
        <svg viewBox="0 0 20 20" class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
        </svg>
        <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
      </a>
    </li>
  <?php endif; ?>
  <?php
  $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
  ?>
  <?php if ($_compareUrl) : ?>
    <li>
      <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">
        <svg viewBox="0 0 20 20" class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-compare"></use>
        </svg>
        <span class="visuallyhidden"><?php echo $this->__('Add to Compare') ?></span>
      </a>
    </li>
  <?php endif; ?>

<!--  --><?php //echo $this->getChildHtml('sharing') ?>
</ul>

