<?php
/**
 * Product additional attributes template
 *
 * @see Mage_Catalog_Block_Product_View_Attributes
 */
/* @var Mage_Catalog_Block_Product_View_Attributes $this */
?>
<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct()
?>
<?php if ($_additionalgroups = $this->getAdditionalData(['sku', 'feature1', 'feature2', 'feature3', 'feature4', 'feature5'])): ?>
    <?php $i = 0; ?>
    <?php foreach ($_additionalgroups as $_additional): ?>
        <?php if ($_additional['title'] != 'Technische Daten'): continue; endif; ?>

        <div class="tab-item is--active" id="tab-attributes">
            <h3 class="tab_headline tab-trigger"><a href="#tab-attributes"><?php echo $this->__($_additional['title']); ?></a></h3>
            <div class="tab_content">
            <div class="tab_content-inner">
                <?php if (isset($_additional['items'])): ?>
                    <?php if (isset($_additional['title']) && $_additional['title'] == 'Technische Daten'): ?>
                        <table class="table is--striped">
                            <?php foreach ($_additional['items'] as $_data): ?>
                            <tr>
                                <td> <?php echo $this->escapeHtml($this->__($_data['label'])) ?> </td>
                                <td> <?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?> </td>
                            </tr>
                            <?php endforeach; ?>
                        </table>
                    <?php else: ?>
                        <table class="table is--striped">
                            <thead class="visuallyhidden">
                            <tr>
                                <th><?php echo $this->__('attribute'); ?></th>
                                <th><?php echo $this->__('value'); ?></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($_additional['items'] as $_data): ?>
                                <tr>
                                    <th scope="row"><?php echo $this->escapeHtml($this->__($_data['label'])) ?></th>
                                    <td><?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            </div>

        </div>
        <?php $i++ ?>
    <?php endforeach; ?>


<?php endif; ?>
