<?php
/**
 * Product description template
 *
 * @see Mage_Catalog_Block_Product_View_Description
 */
?>
<?php $_description = $this->getProduct()->getDescription(); ?>
<?php if ($_description): ?>

    <div class="tab-item" id="tab-description">

        <h3 class="tab_headline tab-trigger"><a href="#tab-description"><?php echo $this->__('detailed info ' . $this->getBlockAlias()); ?></a></h3>
        <div class="tab_content">
        <div class="tab_content-inner">
            <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?>
        </div>
        </div>

    </div>
<?php endif; ?>
