<?php
/* @var Mage_Catalog_Block_Product_View_Description $this */

$product = $this->getProduct();

if (!$product || !$product->getId()):
    return '';
endif;

$hasFeature = false;

for ($i = 1; $i < 20; $i++):
    if ($product->getData('feature' . $i) != null):
        $hasFeature = true;
        break;
    endif;
endfor;

if (!$hasFeature):
  return '';
endif;
?>

<h3><?php echo $this->__('Product Highlights'); ?></h3>

<ul class="feature-hook-list">
    <?php for ($i = 1; $i < 20; $i++): ?>
      <?php
      if (($product->getData('feature' . $i)) == null):
          continue;
      endif;
      ?>

      <li class="feature-hook-item">
          <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
          <span class="feature-hook-txt">
              <?php echo $product->getData('feature' . $i); ?>
          </span>
      </li>
    <?php endfor; ?>
</ul>
