<?php
/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */

/* @var $this Mage_Catalog_Block_Product_View_Media */
?>

<?php
/** @var Mage_Catalog_Model_Product $_product */
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>
<div class="product-image product-image-zoom">
  <div class="product-image-gallery">
        <?php
        /** @var Digitalwert_Productflags_Block_Flags $flagsBlock */
        $flagsBlock = $this->getChild('flags');
        $flagsBlock->setProduct($_product);
        echo $flagsBlock->toHtml();
        ?>

      <div class="addto-container">
          <?php echo $this->getChildHtml('addto') ?>
      </div>
    <img
         class="gallery-image visible"
         src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_MEDIUM); ?>"
         alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
         title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>"
         data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_BIG); ?>">

    <?php if (count($this->getGalleryImages()) > 0): ?>
      <?php $i = 0;
      foreach ($this->getGalleryImages() as $_image): ?>
        <?php if ($this->isGalleryImageVisible($_image)): ?>
              <img id="image-<?php echo $i ?>"
                class="gallery-image"
                src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_MEDIUM); ?>"
                alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>"
                title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"
                data-zoom-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_BIG); ?>">
          <?php $i++; ?>
        <?php endif; ?>
      <?php endforeach; ?>
    <?php endif; ?>
  </div>
</div>

<?php if (count($this->getGalleryImages()) > 0): ?>
  <div class="more-views">
    <ul class="product-image-thumbs">
      <?php $i = 0;
      foreach ($this->getGalleryImages() as $_image): ?>
        <?php if ($this->isGalleryImageVisible($_image)): ?>
          <li>
            <a class="thumb-link" href="#" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"
               data-image-index="<?php echo $i; ?>">
              <img
                src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(75); ?>"
                width="75" height="75" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>"/>
            </a>
          </li>
        <?php endif; ?>
        <?php $i++; endforeach; ?>
    </ul>
  </div>
<?php endif; ?>

<?php echo $this->getChildHtml('after'); ?>
