<?php $_product = $this->getProduct(); ?>

<?php if ($this->canEmailToFriend()): ?>
    <li>
      <a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="link-email-friend" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email to a Friend')) ?>">
        <svg viewBox="0 0 20 20" class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-share"></use>
        </svg>
        <span class="visuallyhidden"><?php echo $this->__('Email to a Friend') ?></span>
      </a>
    </li>
<?php endif; ?>
