<span class="sidebar_box_service-headline">
  <?php echo $this->__('your inquiry'); ?>
</span>

<form id="contactFormSidebar" style="padding-left: 0px;" action="<?php echo Mage::getUrl('contacts/index/post', array('_secure' => $this->getRequest()->isSecure())); ?>" method="post">
  <div class="fieldset">
    <div class="field" style="display: inline !important;">&nbsp;</div>
    <div class="field">
      <label for="sidemenu_name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>

      <div class="input-box">
        <input name="name" id="sidemenu_name"
               title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Name')) ?>"
               value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>"
               class="input-text required-entry" type="text"/>
      </div>
    </div>
    <div class="field">
      <label for="sidemenu_email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>

      <div class="input-box">
        <input name="email" id="sidemenu_email"
               title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Email')) ?>"
               value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>"
               class="input-text required-entry validate-email" type="text"/>
      </div>
    </div>
    <div class="field">
      <label for="sidemenu_telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>

      <div class="input-box">
        <input name="telephone" id="sidemenu_telephone"
               title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Telephone')) ?>"
               value="" class="input-text" type="text"/>
      </div>
    </div>
    <?php
    /**
     * Honeypot field [start]
     */
    $honeypotFieldName = Mage::getStoreConfig('contacts/honeypot/formfield_name');
    $honeypotFieldLabel = Mage::getStoreConfig('contacts/honeypot/formfield_label');
    ?>
    <div class="field" style="display: none">
      <label for="sidemenu_<?php echo $honeypotFieldName; ?>"><?php echo $honeypotFieldLabel ?></label>
      <div class="input-box">
        <input name="<?php echo $honeypotFieldName; ?>" id="sidemenu_<?php echo $honeypotFieldName; ?>" title="<?php echo $honeypotFieldLabel ?>" value="" class="input-text" type="text" />
      </div>
    </div>
    <?php
    /**
     * Honeypot field [end]
     */
    ?>
    <div class="field">
      <label for="sidemenu_comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>

      <div class="input-box">
        <textarea name="comment" id="sidemenu_comment"
            title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Comment')) ?>"
            class="required-entry input-text" cols="5" rows="3"></textarea>
      </div>
      <div class="field" style="margin-top:10px;">
          <label for="accept" class="required"><em>*</em>Datenschutz</label>
          <input name="gdpr-confirm" id="privacy-acceptance" title="Datenschutz" value="gdpr-confirm" class="input-text required-entry" type="checkbox"/>
          <p class="input-hint">Ich habe die Datenschutzerklärung zur Kenntnis genommen. Ich stimme einer elektronischen Speicherung und Verarbeitung meiner eingegebenen Daten zur Beantwortung meiner Anfrage zu.</p>
      </div>
    </div>
  </div>
  <div class="buttons-set">
    <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
    <input type="text" name="hideit" id="sidemenu_hideit" value="" style="display:none !important;"/>
    <button type="submit"
            title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Submit')) ?>"
            class="button" style="width: 200px;">
      <span>
        <span>
          <?php echo Mage::helper('contacts')->__('Submit') ?>
        </span>
      </span>
    </button>
  </div>
</form>
<script type="text/javascript">
  // <![CDATA[
  var contactFormSidebar = new VarienForm('contactFormSidebar', true);
  // ]]>
</script>