<?php
/**
 * Category left navigation
 *
 * @see Mage_Catalog_Block_Navigation
 */
/* @var $this  */
?>

<?php // fixed Sidebar - sidemenu links - KATEGORIEN ?>

  <?php function menuItem($_category, $renderer) { ?>
    <?php /* @var Mage_Catalog_Model_Category $_category */ ?>
    <?php if ($_category->getIsActive()): ?>
      <li class="category-item <?php if ($renderer->isCategoryActive($_category)): ?> current<?php endif; ?>">
        <a href="<?php echo $renderer->getCategoryUrl($_category) ?>" class="category-link">
          <?php echo $renderer->escapeHtml($_category->getName()) ?>
            <span class="category-add">
              <?php if($_category->getProductCount() > 0): ?>
                (<?php echo $_category->getProductCount() ?>)
              <?php endif; ?>
           </span>
        </a>
      </li>
    <?php endif; ?>
  <?php } ?>

  <?php if (!Mage::registry('current_category')) return ?>
  <?php
  $rootCategoryId = Mage::app()->getStore()->getRootCategoryId();
  $_categoryHelper = $this->helper('catalog/category');
  $currentCategory = Mage::registry('current_category');
  $parentCategory = $currentCategory->getParentCategory();
  $_categories = $this->getCurrentChildCategories();

  $_count = is_array($_categories) ? count($_categories) : $_categories->count();
  ?>
  <?php if ($_count): ?>

    <li class="aside-fix_item">
	<button class="sidebar-btn category-btn">
        <svg
            viewBox="0 0 20 20" class="icon icon-category">
          <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-category"></use>
        </svg>
        <span><?php echo $this->__('Categories'); ?></span>
      </button>
      <div class="sidebar_container">
        <div class="sidebar_container-inner">
          <strong class="sidebar_container-headline"><?php echo Mage::registry('current_category')->getName() ?></strong>

          <?php if ($parentCategory->getId() != $rootCategoryId): ?>
            <div class="btn-back">
              <a href="<?php echo $this->getCategoryUrl($parentCategory) ?>" class="btn-back-link"><?php echo $this->__('Back') ?></a>
            </div>
          <?php else : ?>
            <div class="btn-back">
              <a href="/" class="btn-back-link"><?php echo $this->__('Back') ?></a>
            </div>
          <?php endif; ?>
          <ul class="category-list">
            <?php foreach ($_categories as $_category): ?>
              <?php
              /* @var Mage_Catalog_Model_Category $_category */
              menuItem($_category, $this);
              ?>
            <?php endforeach ?>
          </ul>

        </div>
      </div>
    </li>

  <?php endif; ?>

<?php // fixed Sidebar - sidemenu links - KATEGORIEN ?>
