/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2018, 9:36:45 AM
    Author     : tdietze
*/
.cookiealert {
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    padding: 1% 10% 0 10%;
}

.cookiealert .message {
    width: 80%;
    max-width: 80%;
}