<?php
/**
 * @var $this Mage_Paypal_Block_Express_Shortcut
 */
?>

<?php $shortcutHtmlId = $this->getShortcutHtmlId() ?>
<?php $bmlShortcutHtmlId = $this->getBmlShortcutHtmlId() ?>
<?php if ($this->isOrPositionBefore()): ?>
    <span class="payment-or paypal-or"><?php echo $this->__('-OR DO-'); ?></span>
<?php endif; ?>
<a data-action="checkout-form-submit" id="<?php echo $shortcutHtmlId ?>" href="<?php echo $this->getCheckoutUrl() ?>"><img src="<?php echo $this->getImageUrl() ?>" alt="<?php echo Mage::helper('paypal')->__('Checkout with PayPal'); ?>" title="<?php echo Mage::helper('paypal')->__('Checkout with PayPal'); ?>" /></a>
<?php if ($this->getIsBmlEnabled()): ?>
    <span class="payment-or paypal-or"><?php echo $this->__('-OR DO-'); ?></span>

<li class="bml-checkout-type">
    <p class="paypal-logo">
    <span class="bml_button">
        <a id="<?php echo $bmlShortcutHtmlId ?>" href="<?php echo $this->getBmlCheckoutUrl() ?>"><img src="<?php echo $this->getBmlImageUrl() ?>" alt="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit')); ?>" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('paypal')->__('Checkout with PayPal Paypal Credit')); ?>" /></a>
        <a href="<?php echo $this->getMarketMessageUrl() ?>"><img src="<?php echo $this->getMarketMessage() ?>" /></a>
    </span>
    </p>
</li>
<?php endif; ?>
<?php if ($this->isOrPositionAfter()): ?>
<li>
    <span class="payment-or paypal-or"><?php echo $this->__('-OR DO-'); ?></span>
</li>
 <?php endif; ?>
<?php if ($this->getConfirmationUrl() || $this->getIsInCatalogProduct()): ?>
<?php if ($this->getIsInCatalogProduct()): ?>
    <input type="hidden" id="pp_checkout_url" name="return_url" value="" />
<?php endif; ?>
<script type="text/javascript">
//<![CDATA[
    $$('#<?php echo $shortcutHtmlId ?>','#<?php echo $bmlShortcutHtmlId ?>').invoke('observe', 'click', function(event) {
        <?php if ($this->getConfirmationUrl()): ?>
            if (confirm('<?php echo Mage::helper('core')->jsQuoteEscape($this->getConfirmationMessage()) ?>')) {
                this.href = '<?php echo $this->getConfirmationUrl() ?>';
            }
        <?php endif; ?>
        <?php if ($this->getIsInCatalogProduct()): ?>
            $('pp_checkout_url').value = this.href;
            productAddToCartForm.submit(this);
            event.stop();
        <?php endif; ?>
    });
//]]>
</script>
<?php endif; ?>
