<?php if ($this->getResultCount()): ?>
  <div class="tile">
    <div class="tile-content text-content section-content">

      <?php echo $this->getMessagesBlock()->toHtml() ?>
      <?php if ($this->helper('rss/catalog')->getTagFeedUrl()): ?>
        <a href="<?php echo $this->helper('rss/catalog')->getTagFeedUrl() ?>"
           class="nobr link-rss"><?php echo $this->__('Subscribe to Feed') ?></a>
      <?php endif; ?>
      <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results") ?></h1>

      <p>
        <?php echo $this->__('%s Search results for: \'%s\'', $this->getResultCount(), $this->helper('catalogsearch')->getEscapedQueryText()); ?>
      </p>

      <?php if ($messages = $this->getNoteMessages()): ?>
        <p class="note-msg">
          <?php foreach ($messages as $message): ?>
            <?php echo $message ?><br/>
          <?php endforeach; ?>
        </p>
      <?php endif; ?>

    </div>
  </div>

  <?php echo $this->getProductListHtml() ?>
<?php else: ?>
  <div class="tile">
    <div class="tile-content text-content section-content">
      <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
      <p class="note-msg">
        <?php echo ($this->getNoResultText()) ? $this->getNoResultText() : $this->__('Your search returns no results.') ?>
        <?php if ($messages = $this->getNoteMessages()): ?>
          <?php foreach ($messages as $message): ?>
            <br/><?php echo $message ?>
          <?php endforeach; ?>
        <?php endif; ?>
      </p>
    </div>
  </div>
<?php endif; ?>
