.aside-fix {
	width: 132px;
	position: fixed;
	top: 90px;
	left: 0;
	z-index: 940;
	bottom: 0;
	background-color: $c-gray-3;
	@include shadow();
}

.cms-index-index {
	.aside-fix {
		bottom: auto;
	}
}

.aside-fix_list {
	padding: 0;
	margin: 0;
}

.aside-fix_item {
	padding: 0;
	
	&.is--active {
		.sidebar-btn {
			background-color: $c-white;
			position: relative;
			z-index: 950;
		}

		.sidebar_container {
			display: block;
		}
	}

	&:hover {
		.no-touch & {
			.sidebar-btn {
				background-color: $c-white;
				position: relative;
				z-index: 950;
				transition: all 0.5s ease;
			}

			.sidebar_container {
				display: block;
			}
		}
	}
}

.aside-fix_item-split {
	background-color: $c-gray-3;
	padding: 45px 0;

	&:before {
		content: '';
		display: block;
		width: 72px;
		height: 1px;
		background: $c-gray-dark-2;
		margin: 0 auto;
	}
}

.sidebar-btn {
	font-family: 'montserratregular';
	font-size: .875rem;
	background-color: $c-gray-3;
	display: block;
	border: none;
	width: 100%;
	padding: 20px 14px;
	@include hoverBack();

	// &:hover {
	// 	.no-touch & {
	// 		@include hover();

	// 		+.sidebar_container {
	// 			display: block;
	// 		}
	// 	}
	// }

	.icon {
		width: 24px;
		height: 24px;
	}

	span {
		text-transform: uppercase;
		display: block;
	}
}

.sidebar-btn-service {
	color: $c-red-2;

	.icon {
		fill: $c-red-2;
	}
}

.sidebar-btn-compare {
	position: relative;

	.count {
		font-size: 11px;
		position: absolute;
		top: 6px;
		right: 19px;
		background-color: $c-green;
		color: $c-white;
		border-radius: 10px;
		width: 20px;
		height: 20px;
	}
}

.sidebar_container {
	display: none;
	background-color: $c-white;
    width: 260px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    z-index: 900;
    padding-top: 30px;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 132px;
    -ms-overflow-style: none;
    overflow-y: scroll;

    &::-webkit-scrollbar { 
	    display: none;
	    width: 0 !important
	}

    .category-list {
    	padding: 15px 0;
    	margin: 0;
    }

    .category-item {
    	padding: 0;
    }

	.category-link {
		padding: 15px 0;
		display: block;
		font-size: .75rem;
		letter-spacing: 0.04rem;
		font-weight: bold;
		color: $c-gray-2;
		@include hoverBack();

		&:hover {
			@include hover()
		}
	}

	.category-add {}

	.h3 {
		color: $c-gray;
		font-size: .875rem;
	}

	.sidenav-link {
		color: $c-gray;
		font-size: .875rem;
	}
}

.sidebar_container-inner {
	margin: 0 30px;
}

.category-btn {
  animation: asideBlink 5s infinite;
  &:hover{
      animation: none;
  }
}

.sidebar_container-headline {
	font-size: 1rem;
	letter-spacing: 0.04rem;
	color: $c-green;
	text-transform: uppercase;
	display: block;
	padding: 0 0 33px;
	border-bottom: 1px solid $c-gray-light-2;
}

.sidebar_box_service {
	// margin-top: 30px;

	ul {
		margin-left: 30px;
	}

	li {
		font-size: .9375rem;
		padding: 15px 0;

		&:before {
		    content: "";
		    width: 10px;
		    height: 20px;
		    position: absolute;
		    border: 0 solid transparent;
		    border-right: 1px solid $c-gray-4;
		    border-bottom: 1px solid $c-gray-4;
		    transform: rotate(45deg);
		    box-sizing: border-box;
		    margin-left: -25px;
		}
	}
}

.sidebar_box_service-headline {
	display: block;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
}

.sidebar_box_service-phone {
	font-weight: bold;
	font-size: .8125rem;
	padding: 0;
}

.sidebar_container {
	.sidebar_box_service-phone {
		padding: 0;
	}
}

.btn-back {
	border-bottom: 1px solid $c-gray-light-2;
}

.btn-back-link {
	display: block;
	padding: 15px 0;
	font-size: .75rem;
}



.sidebar_filter_box {
	position: relative;
	padding-bottom: 30px;

	&:first-child {
		.sidebar_filter-headline {
			padding-top: 0;
		}
	}

	&:after {
		content: "";
		display: block;
		height: 1px;
		background-color: $c-gray-dark;
		position: absolute;
		bottom: 0;
		left: -30px;
		right: -30px;
	}
}

.sidebar_filter-headline {
	font-family: 'montserratbold';
	font-size: .875rem;
	color: $c-gray;
	text-transform: uppercase;
	display: block;
	padding-top: 30px;
}

.sidebar_filter-item {
	.sidenav-link {
		font-family: 'montserratextralight';
		font-size: .875rem;
		color: $c-gray;
		padding: 5px 2.8em 5px 0;
	}
}

@supports (--css: variables) {
    input[type="range"].multirange {
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }

    input[type="range"].multirange.range-min {
        position: absolute;
    }

    input[type="range"].multirange.range-min::-webkit-slider-thumb {
        position: relative;
        z-index: 2;
    }

    input[type="range"].multirange.range-min::-moz-range-thumb {
        transform: scale(1); /* FF doesn't apply position it seems */
        z-index: 1;
    }

    input[type="range"].multirange::-moz-range-track {
        border-color: transparent; /* needed to switch FF to "styleable" control */
    }

    input[type="range"].multirange.range-max {
        position: relative;
        background: var(--track-background);
        --track-background: linear-gradient(to right,
        transparent var(--low), var(--range-color) 0,
        var(--range-color) var(--high), transparent 0
        ) no-repeat 0 55% / 100% 25%;
        --range-color: #97BD21;
    }

    input[type="range"].multirange.range-max::-webkit-slider-runnable-track {
        background: var(--track-background);
    }

    input[type="range"].multirange.range-max::-moz-range-track {
        background: var(--track-background);
    }

}

.sidebar_filter_pricerange {
	margin-top: 15px;

	input[type="range"].multirange {
		
	}

	input[type="range"] {
		-webkit-appearance: none;
		margin: 10px 0;
		width: 100%;

		//Thumb
		&::-webkit-slider-thumb {
			height: 14px;
			width: 14px;
			border-radius: 7px;
			background: #97BD21;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -6.5px;
			border: none;
			box-shadow: none;
		}

		&::-moz-range-thumb {
			height: 14px;
			width: 14px;
			border-radius: 7px;
			background: #97BD21;
			cursor: pointer;
			border: none;
			box-shadow: none;
		}

		&::-ms-thumb {
			height: 14px;
			width: 14px;
			border-radius: 7px;
			background: #97BD21;
			cursor: pointer;
			border: none;
			box-shadow: none;
		}

		//Track
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 2px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: none;
			background: #97BD21;
			border-radius: 0;
			border: none;
		}

		&:focus::-webkit-slider-runnable-track {
			background: #97BD21;
		}

		&::-moz-range-track {
			width: 100%;
			height: 2px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: none;
			background: #97BD21;
			border-radius: 0;
			border: none;
		}

		&::-ms-fill-lower {
			background: #97BD21;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}

		&::-ms-fill-upper {
			background: #97BD21;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}

		&:focus::-ms-fill-lower {
			background: #97BD21;
		}
		&:focus::-ms-fill-upper {
			background: #97BD21;
		}

	}
}

.sidebar_filter_pricerange_minmax {
	padding-bottom: 15px;
}

.sidebar_filter_pricerange_min,
.sidebar_filter_pricerange_max {
	display: inline-block;

	font-family: 'montserratextralight';
	font-size: .875rem;
	color: $c-gray;
}

.sidebar_filter_pricerange_max {
	float: right;
}

.sidebar_filter_pricerange_button {
	.pricerange-btn {
		font-size: .6875rem;
		font-family: 'montserratregular';
		color: $c-gray;
		text-transform: uppercase;
		background-color: $c-gray-dark;
		display: block;
		text-align: center;
		padding: 5px;
		@include hoverBack();

		.icon {
			width: 18px;
			height: 18px;
			vertical-align: -4px;
			fill: $c-gray;
		}

		&:hover {
			@include hover();
		}
	}
}

.sidebar_container {
	.currently {
		.label {
			display: block;
			font-family: 'montserratbold';
			font-size: .875rem;
		}

		.value {
			font-family: 'montserratextralight';
			font-size: .875rem;
		}
	}
}
