.icon_minus-plus {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 13px;
  border: 1px solid #000;
 
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    //border-radius: 3px;
    background: #000;
    transform: rotate(0deg);
    transition: 400ms all ease-out;
  }
 
  &:before {
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    right: 6px;
    height: 2px;
  }
 
  &:after {
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    bottom: 6px;
    width: 2px;

    .js--is--active & {
      transform: rotate(90deg);
    }
  }
 
  // &:hover {
  //   cursor: pointer;
    
  //   &:after {
  //     transform: rotate(90deg);
  //   }
  // }
}

// .js--is--active {
//   .icon_minus-plus {
//     &:after {
//       transform: rotate(90deg);
//     }
//   }
// }
