.sidenav-cat {
    padding-left: $gap * 2;
    color: #FFF;
    background-color: $c-green;
}

.sidenav-links {
    .active {
        position: relative;
    }
}

.sidenav-link {
    display: block;
    // margin: 0 ($gap * 2);
    padding: $gap 2.8em $gap 0;
    position: relative;
    color: $c-text;
    // border-top: 1px solid $c-module-border;

    // li:first-child > & {
    //     border-top-width: 0;
    // }

    .current > & {
        color: $c-green;
    }
}

.sidenav-add {
    position: absolute;
    right: 0;
    top: $gap;

    .icon {
        width: 10px;
        height: 10px;
        fill: $c-text;
    }
}

.sidenav-sublist {
    display: none;
    overflow: hidden;

    .current > &,
    .active > & {
        display: block;
    }

    .sidenav-link {
        padding-left: $gap * 2;

        &:first-child {
            border-top-width: 1px;
        }
    }

    .sidenav-sublist {
        .sidenav-link {
            padding-left: $gap * 4;
        }
    }
}

.sidenav-clone {
    position: absolute;
    visibility: hidden;
}
