.slider {}

.logo-slider {
	padding: 2rem;
	position: relative;
	font-size: 0;
}

.logo-slider-next,
.logo-slider-prev {
    padding: 0 ($gap * 2);
    position: absolute;
    top: 0;
    bottom: 0;
    background: transparent;
    // background: red;
    border: 0;

    .icon {
        width: 24px;
        height: 24px;
		fill: $c-gray-2;
		filter: none;
    }
}

.logo-slider-next {
    right: -64px;
}

.logo-slider-prev {
    left: -64px;
}

.logo-slider-inner {
	font-size: 0;
	// margin: 0 -35px;
}

.logo-slider-item {
	display: inline-block;
	vertical-align: middle;
	padding: 0 35px;
}

.logo-slider-link {
	display: block;
	// height: 60px;
	// min-width: 120px;
	// width: 100%;

	background-repeat: no-repeat;
	background-position: center;

	filter: grayscale(100%) opacity(.6);

	&:hover {
		filter: grayscale(0%) opacity(1);
	}
}

.logo-slider-img {
	margin: 0 auto;
}
