.teaser-img {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.teaser-icon {
    @extend %icon-container;
}

.teaser-icon-content {
    margin-bottom: 1.5em;
    padding-left: 40px;
    line-height: 1.2;

    .teaser-icon {
        margin-left: -45px;
        float: left;
    }
}

.teaser-content-ssl {
    display: block;
    padding: 2em 0;

    img {
        margin: 0 auto;
    }
}

.teaser-slider {
    position: relative;
    overflow: visible;
}

.teaser-slider-inner {
    margin-left: -100%;
    margin-right: -100%;
}

.teaser-slider-list {
    position: relative;
    font-size: 0;
    // white-space: nowrap;
    // transition: left .5s ease-in;
    width: 100vw;
    margin: 0 auto;
}

.teaser-slider-item {

}

.teaser-slider-item-inner{
    display: inline-table;
    width: 100%;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 26.04%;

    position: relative;

    .slider-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        max-width: $section-content;
        margin: 0 auto;

        // &:before {
        //     content: "";
        //     height: 100%;
        //     display: inline-block;
        //     vertical-align: middle;
        // }
    }

    .slider-content-inner {
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.teaser-slider-headline {
    font-size: 30px;
    color: $c-gray-2;
    background-color: #fff;
    opacity: 0.8;
    padding: 15px 90px 15px 20px;
    display: inline-block;
}

.teaser-slider-link {
    display: table-cell;
    // padding-top: 28.8%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    white-space: normal;
    background-color: rgba($c-green, 0.8);
    text-transform: uppercase;
    padding: 10px 50px 10px 20px;
    margin-top: 15px;
    display: inline-block;

    &:hover {
        color: #FFF;
        text-decoration: none;
        background-color: rgba($c-green, 1);
    }
}

.teaser-slider_btn-wrapper {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

.teaser-slider-next,
.teaser-slider-prev {
    padding: 0 ($gap * 2);
    position: absolute;
    top: 0;
    bottom: 0;
    background: transparent;
    // background: red;
    border: 0;

    .icon {
        width: 24px;
        height: 24px;
        fill: #FFF;
        -webkit-filter: drop-shadow( 0 0 1px rgba(0,0,0,.5));
        filter: drop-shadow( 0 1px 4px rgba(0,0,0,.5));
    }
}

.teaser-slider-next {
    right: -64px;
}

.teaser-slider-prev {
    left: -64px;
}



.teaser-slider-pager {
    position: absolute;
    right: $gap * 2;
    bottom: 0;
    left: $gap * 2;
    text-align: center;
}

.teaser-slider-pager-item {
    display: inline-block;
    margin: $gap;
}

.teaser-slider-pager-element {
    display: block;
    width: 19px;
    height: 19px;
    background-color: #FFF;
    border: 3px solid #FFF;
    border-radius: 50%;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.5);

    .teaser-slider-pager-active & {
        background-color: $c-green;
    }
}

.start-headline {
    h1 {
        padding-top: 35px;
    }
}
