<?php
/**
* Product list template
*
* @see Mage_Catalog_Block_Product_List
*/
/* @var $this Mage_Catalog_Block_Product_List */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
/** @var Digitalwert_Productflags_Block_Flags $flagsBlock */
$flagsBlock = $this->getChild('flags');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="tile">
        <div class="tile-content clearfix">
            <div class="section-content">
                <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
            </div>
        </div>
    </div>
<?php else: ?>
<div class="products">

    <div class="section-content">
        <div class="product-slider-wrapper">
            <div class="product-slider-introtile">
                <div class="product-slider-introtile-inner">
                    <div class="introtile-top">
                        <p class="tile-subtitle"><?php echo $this->__('Our current recommendations') ?></p>
                    </div>
                    <div class="introtile-bottom"></div>
                </div>
            </div>

            <div class="products products-slider products-static-block clearfix">
                <?php $_collectionSize = $_productCollection->count() ?>
                <?php $_columnCount = $this->getColumnCount(); ?>
                    <div class="products-grid products-slider-list">
                        <?php $i = 0;
                        foreach ($_productCollection as $_product): ?>
                            <?php /*if ($i++%$_columnCount==0): ?> <?php endif*/ ?>
                            <div class="product">
                                <div class="product-inner">
                                    <div class="product-header">
                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_AVERAGE); ?>"
                                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                        </a>
                                        <?php
                                        $flagsBlock->setProduct($_product);
                                        echo $flagsBlock->toHtml();
                                        ?>
                                        <ul class="add-to-links">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li>
                                                    <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                                        <svg viewBox="0 0 20 20" class="icon">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
                                                        </svg>
                                                        <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                <li>
                                                    <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">
                                                        <svg viewBox="0 0 20 20" class="icon">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-compare"></use>
                                                        </svg>
                                                        <span class="visuallyhidden"><?php echo $this->__('Add to Compare') ?></span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                    <div class="product-info">
                                        <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></p>
                                        <?php
                                        // Provides extra blocks on which to hang some features for products in the list
                                        // Features providing UI elements targeting this block will display directly below the product name
                                        if ($this->getChild('name.after')):
                                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                            foreach ($_nameAfterChildren as $_nameAfterChildName):
                                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                                $_nameAfterChild->setProduct($_product);
                                                echo $_nameAfterChild->toHtml();
                                            endforeach;
                                        endif;?>

                                        <div class="product-footer">
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                            <?php if($_product->getRatingSummary()): ?>
                                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                            <?php endif; ?>
                                            <div class="actions">
                                                <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php /*if ($i%$_columnCount==0 || $i==$_collectionSize): ?> <?php endif*/ ?>
                        <?php endforeach ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
