<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 * @var $this Mage_Catalog_Block_Product_List_Toolbar
 */
?>
<?php if ($this->getCollection()->getSize()): ?>
  <div class="toolbar">
    <div class="tile-content clearfix">
      <div class="count-container">
        <?php if ($this->getLastPageNum() > 1): ?>
          <p class="amount amount--has-pages">
            <?php echo $this->__('Products from'); ?> <?php echo $this->__('%s-%s of %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
          </p>
        <?php else: ?>
          <p class="amount amount--no-pages">
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
          </p>
        <?php endif; ?>
      </div>
    </div>

    <div class="tile-content clearfix">
        <div class="toolbar-wrapper">
          <?php if ($this->isExpanded()): ?>
            <div class="sorter">
              <?php if ($this->isEnabledViewSwitcher()): ?>

                <?php $_modes = $this->getModes(); ?>
                <?php if ($_modes && count($_modes) > 1): ?>
                  <p class="view-mode">
                    <label><?php echo $this->__('View as') ?></label>
                    <?php foreach ($this->getModes() as $_code => $_label): ?>
                      <?php if ($this->isModeActive($_code)): ?>
                        <strong title="<?php echo $_label ?>"
                                class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>
                      <?php else: ?>
                        <a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>"
                           class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>
                      <?php endif; ?>
                    <?php endforeach; ?>
                  </p>
                <?php endif; ?>

              <?php endif; ?>

              <div class="sort-by">
                <label>
                  <span class="label-txt"><?php echo $this->__('Sort By') ?></span>
                  <select onchange="setLocation(this.value)"
                          title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>">

                    <?php $currentOrderDirection = $this->getCurrentDirection(); ?>

                    <?php foreach ($this->getAvailableOrders() as $_key => $_order): ?>
                      <option
                        value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if ($this->isOrderCurrent($_key) && $currentOrderDirection == 'asc'): ?> selected="selected"<?php endif; ?>>
                        <?php echo $this->__($_order) ?> <?php echo $this->__('ascending'); ?>
                      </option>
                      <option
                        value="<?php echo $this->getOrderUrl($_key, 'desc') ?>"<?php if ($this->isOrderCurrent($_key) && $currentOrderDirection == 'desc'): ?> selected="selected"<?php endif; ?>>
                        <?php echo $this->__($_order) ?> <?php echo $this->__('descending'); ?>
                      </option>
                    <?php endforeach; ?>
                  </select>
                </label>
              </div>

          <?php endif; ?>
         </div>
          <div class="limiter">
            <label>
              <span class="label-txt"><?php echo $this->__('Results per page') ?></span>
              <select onchange="setLocation(this.value)"
                      title="<?php echo Mage::helper('core')->quoteEscape($this->__('Results per page')); ?>">
                <?php foreach ($this->getAvailableLimit() as $_key => $_limit): ?>
                  <option
                    value="<?php echo $this->getLimitUrl($_key) ?>"<?php if ($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                    <?php echo $_limit ?>
                  </option>
                <?php endforeach; ?>
              </select>
            </label>
          </div>
        </div>
    </div>
  </div>
<?php endif ?>
