<?php
/**
 * This file is part of the official Amazon Payments Advanced extension
 * for Magento (c) creativestyle GmbH <amazon@creativestyle.de>
 * All rights reserved
 *
 * Reuse or modification of this source code is not allowed
 * without written permission from creativestyle GmbH
 *
 * @category   Creativestyle
 * @package    Creativestyle_AmazonPayments
 * @copyright  Copyright (c) 2014 creativestyle GmbH
 * @author     Marek Zabrowarny / creativestyle GmbH <amazon@creativestyle.de>
 */
?>
<div id="<?php echo $this->getWidgetHtmlId(); ?>" class="<?php echo $this->getWidgetClass(); ?> with-tooltip">
    <?php if ($buttonImgUrl = $this->getButtonWidgetUrl()): ?>
        <img src="<?php echo $buttonImgUrl; ?>"/>
    <?php endif; ?>
</div>
<?php if ($this->isCustomDesignSet()): ?>
    <script type="text/javascript">//<![CDATA[
        var buttonDiv = $('<?php echo $this->getWidgetHtmlId(); ?>');
        <?php if ($buttonType = $this->getButtonType()): ?>
        buttonDiv.buttonType = '<?php echo $buttonType; ?>';
        <?php endif; ?>
        <?php if ($buttonSize = $this->getButtonSize()): ?>
        buttonDiv.buttonSize = '<?php echo $buttonSize; ?>';
        <?php endif; ?>
        <?php if ($buttonColor = $this->getButtonColor()): ?>
        buttonDiv.buttonColor = '<?php echo $buttonColor; ?>';
        <?php endif; ?>
        //]]></script>
<?php endif; ?>
<?php if ($this->getEnableOr()): ?>
</li>
<li>
    <span class="payment-or amazonpayments-or"><?php echo $this->__('-OR DO-'); ?></span>
<?php endif; ?>
