<div class="product-options position" id="product-options-wrapper">
  <?php echo $this->getChildHtml('', true, true); ?>
  <?php if ($this->hasRequiredOptions()): ?>
<!--    <p class="required">--><?php //echo $this->__('* Required Fields') ?><!--</p>-->
  <?php endif; ?>
</div>