<div class="tile">
    <div class="section-content">
        <div class="tile-content seo-sitemap">
            <h1><?php echo $this->getTitle() ?></h1>

            <div id="sitemap_top_links">
                <?php echo $this->getChildHtml('links') ?>
            </div>
            <?php echo $this->getChildHtml('pager_top') ?>
            <?php echo $this->getChildHtml('sitemap') ?>
            <?php echo $this->getChildHtml('links') ?>
            <?php echo $this->getChildHtml('pager_bottom') ?>
        </div>
    </div>
</div>
