<?php
/* @var $this Mage_Reports_Block_Product_Viewed */
?>
<?php if ($_products = $this->getRecentlyViewedProducts()): ?>

  <div class="teaser tile">
    <p class="tile-title">
        <span class="tile-title-icon">
            <svg viewBox="0 0 20 20" class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-history"></use>
            </svg>
        </span>
      <?php echo $this->__('Recently Viewed') ?>
    </p>

    <div class="tile-content">
      <ol class="history-items">
        <?php foreach ($_products as $_item): ?>
          <li class="item">
            <p class="product-name">
              <a href="<?php echo $this->getProductUrl($_item) ?>">
                <?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?>
              </a>
            </p>
          </li>
        <?php endforeach; ?>
      </ol>
    </div>
  </div>
<?php endif; ?>
