<?php
/**
 * Cart cross sell items template
 *
 * @see Mage_Checkout_Block_Cart_Crosssell
 */
?>

<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
/** @var Digitalwert_Productflags_Block_Flags $flagsBlock */
$flagsBlock = $this->getChild('flags');
?>

<?php if ($this->getItemCount()): ?>
  <div>
    <div class="product-slider-wrapper">

      <div class="product-slider-introtile">
        <div class="product-slider-introtile-inner">
          <div class="introtile-top">
            <p class="tile-subtitle"><?php echo $this->__('Our current recommendations') ?></p>
          </div>
          <div class="introtile-bottom"></div>
        </div>
      </div>

      <div class="products products-slider products-slider-checkout">
        <div class="products-grid products-slider-list">

          <?php foreach ($this->getItems() as $_item): ?>
            <?php /** @var Mage_Catalog_Model_Product $_item */  ?>
            <div class="product">
              <div class="product-inner">

                <div class="product-header">
                  <a href="<?php echo $_item->getProductUrl() ?>"
                     title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image">
                    <img
                        src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_AVERAGE) ?>"
                        alt="<?php echo $this->escapeHtml($_item->getName()) ?>"/>
                  </a>
                  <?php
                  $flagsBlock->setProduct($_item);
                  echo $flagsBlock->toHtml();
                  ?>
                  <ul class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                      <li>
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                          <svg viewBox="0 0 20 20" class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-heart"></use>
                          </svg>
                          <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                        </a>
                      </li>
                    <?php endif; ?>
                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_item)): ?>
                      <li>
                        <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">
                          <svg viewBox="0 0 20 20" class="icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-compare"></use>
                          </svg>
                          <span class="visuallyhidden"><?php echo $this->__('Add to Compare') ?></span>
                        </a>
                      </li>
                    <?php endif; ?>
                  </ul>
                </div>

                <div class="product-info">
                  <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>" class="product-name-link">
                    <p class="product-name">
                      <?php echo $this->escapeHtml($_item->getName()) ?>
                    </p>
                    <?php if ($_item->getAdditionalname1() != null): ?>
                        <span class="product-name-addition">
                          <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                          <span class="product-name-addition-txt">
                            <?php echo $_helper->productAttribute($_item, $_item->getAdditionalname1(), 'additionalname1') ?>
                          </span>
                        </span>
                    <?php endif; ?>
                    <?php if ($_item->getAdditionalname2() != null): ?>
                        <span class="product-name-addition">
                          <svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-check"></use></svg>
                          <span class="product-name-addition-txt">
                            <?php echo $_helper->productAttribute($_item, $_item->getAdditionalname2(), 'additionalname2') ?>
                          </span>
                        </span>
                    <?php endif; ?>
                  </a>

                  <div class="product-footer">
                    <?php echo $this->getPriceHtml($_item, true, '-new') ?>
                    <div class="actions">
                      <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          <?php endforeach; ?>
        </div>
      </div>
    </div>
  </div>
<?php endif; ?>
