<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>

<?php
$_cartQty = $this->getSummaryCount();
if (empty($_cartQty)):
  $_cartQty = 0;
endif;
?>

<li class="aside-fix_item aside_checkout">
  <a class="sidebar-btn" href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>"
     rel="nofollow">
    <span class="icon-wrapper">
      <svg viewBox="0 0 20 20" class="icon icon-cart">
        <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-cart"></use>
      </svg>
      <span class="count">
        <?php echo $_cartQty; ?>
      </span>
    </span>
    <span class="label-name"><?php echo $this->__('Cart'); ?></span>
  </a>
</li>
