<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>

<?php
$_cartQty = $this->getSummaryCount();
if (empty($_cartQty)):
  $_cartQty = 0;
endif;

$quote = Mage::getSingleton('checkout/session')->getQuote();
$items = $quote->getAllItems();
$subtotalInclVat = 0;

foreach ($items as $item):
  $subtotalInclVat += $item->getRowTotalInclTax();
endforeach;
?>

<a href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>" data-target-element="#header-cart"
   class="header-minicart-link <?php if ($_cartQty <= 0): ?> no-count<?php endif; ?>"
   rel="nofollow">
  <span class="label">
    <span class="icon-wrapper">
      <svg viewBox="0 0 20 20" class="icon">
        <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-cart"></use>
      </svg>
      <span class="sum">
        <?php echo Mage::helper('checkout')->formatPrice($subtotalInclVat) ?>
      </span>
      <span class="count">
        <?php echo $this->__('%s products in my cart header', $_cartQty); ?>
      </span>
    </span>
    <span class="label-name"><?php echo $this->__('Cart'); ?></span>
  </span>






</a>

<div id="header-cart" class="block block-cart skip-content">
  <?php echo $this->getChildHtml('minicart_content'); ?>
</div>
