<?php /*
<li class="teaser-slider-item" style="background-image:url(<?php echo $this->getImageUrl() ?>)">
	<div class="slider-content">
		<div class="slider-content-inner">
			<p class="teaser-slider-headline">
				<?php echo $this->getHeadline(); ?>
			</p>
			<p class="teaser-slider-headline-link">
				<a class="teaser-slider-link" href="<?php echo $this->getLinkUrl(); ?>"> <?php echo $this->getData('headline_link');?> </a>
			</p>
		</div>
	</div>
</li>
*/ ?>





<div class="teaser-slider-item">
<div class="teaser-slider-item-inner" style="background-image:url(<?php echo $this->getImageUrl() ?>)">
	<div class="slider-content">
		<div class="slider-content-inner">
			<p class="teaser-slider-headline">
				<?php echo $this->getHeadline(); ?>
			</p>
			<p class="teaser-slider-headline-link">
				<a class="teaser-slider-link" href="<?php echo $this->getLinkUrl(); ?>"> <?php echo $this->getData('headline_link');?> </a>
			</p>
		</div>
	</div>
	</div>
</div>
