<?php $html = trim($this->getChildHtml('teaserslider.inner')); ?>

<?php /*
<?php if(!empty($html)): ?>
	<div class="teaser-slider section-content">
		<div class="teaser-slider-inner header-slider">
			<ul class="teaser-slider-list" data-prev="<?php echo $this->__('previous teaserslider element'); ?>" data-next="<?php echo $this->__('next teaserslider element'); ?>">
			  <?php echo $html; ?>
			</ul>
		</div>
	</div>
<?php endif; ?>
*/ ?>





<?php if(!empty($html)): ?>
	<div class="teaser-slider section-content">

		<div class="teaser-slider-inner">
			<div class="teaser-slider-list header-slider" data-prev="<?php echo $this->__('previous teaserslider element'); ?>" data-next="<?php echo $this->__('next teaserslider element'); ?>">
				<?php echo $html; ?>
			</div>
		</div>

		<div class="slider-btn-wrapper">
			<button class="teaser-slider-prev"><svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-submit" transform="rotate(180 10 10)"></use></svg><span class="visuallyhidden">vorheriger Slide</span></button>
			<button class="teaser-slider-next"><svg viewBox="0 0 20 20" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/skin/frontend/leduniversum/default/icons/sprite.svg#icon-submit"></use></svg><span class="visuallyhidden">Nächster Slide</span></button>
		</div>

	</div>
<?php endif; ?>


