
<?php // fixed Sidebar - sidemenu links - FILTER ?>

<?php
$layerBlock = $this->getChild('catalog.leftnav');
if (!$layerBlock):
    $layerBlock = $this->getChild('catalogsearch.leftnav');
endif;

if (!$layerBlock):
  return '';
endif;

$contentHtml = trim($this->getChildHtml('catalog.leftnav') .
    $this->getChildHtml('catalogsearch.leftnav'));

if (empty($contentHtml)):
  return '';
endif;

$activeFilters = $layerBlock->getLayer()->getState()->getFilters();
?>

<li class="aside-fix_item">
    <button class="sidebar-btn <?php if(!empty($activeFilters)):?>filter-active<?php endif; ?>">
        <svg
            viewBox="0 0 20 20" class="icon icon-filter">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-filter"></use>
        </svg>
        <span><?php echo $this->__('filter'); ?></span>
    </button>
    <div class="sidebar_container">
        <div class="sidebar_container-inner">
            <?php echo $this->getChildHtml('catalog.leftnav'); ?>
            <?php echo $this->getChildHtml('catalogsearch.leftnav'); ?>
        </div>
    </div>
</li>