<?php
$contentBlock = $this->getChild('teaser-content');

if(!$contentBlock):
  return;
endif;
?>

<li class="aside-fix_item">
  <button class="sidebar-btn sidebar-btn-service">
    <svg
        viewBox="0 0 20 20" class="icon icon-service">
      <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-service"></use>
    </svg>
    <span><?php echo $contentBlock->getTitle(); ?></span>
  </button>
  <div class="sidebar_container">
    <div class="sidebar_container-inner">
      <div class="sidebar_box_service">
        <span class="sidebar_box_service-headline"><?php echo $contentBlock->getTitle(); ?></span>

        <?php $phone = Mage::getStoreConfig('general/store_information/phone_support'); ?>
        <a class="sidebar_box_service-phone" href="tel:<?php echo $this->helper('imprint')->formatPhoneNumber($phone); ?>"><?php echo $phone; ?></a>

        <?php echo $contentBlock->getContent(); ?>

        <?php echo $this->getChildHtml('contactForm'); ?>
      </div>
    </div>
  </div>
</li>