<div class="tile">
  <div class="tile-content">
    <div class="section-content contact-content">

      <div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>

      <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>

      <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
        <div class="fieldset">
          <h2 class="legend"><?php echo Mage::helper('contacts')->__('Contact Information') ?></h2>
          <ul class="form-list">
            <li class="fields">
              <div class="field">
                <label for="name" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Name') ?></label>

                <div class="input-box">
                  <input name="name" id="name"
                         title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Name')) ?>"
                         value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>"
                         class="input-text required-entry" type="text"/>
                </div>
              </div>
              <div class="field">
                <label for="email" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Email') ?></label>

                <div class="input-box">
                  <input name="email" id="email"
                         title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Email')) ?>"
                         value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>"
                         class="input-text required-entry validate-email" type="text"/>
                </div>
              </div>
            </li>
            <li>
              <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>

              <div class="input-box">
                <input name="telephone" id="telephone"
                       title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Telephone')) ?>"
                       value="" class="input-text" type="text"/>
              </div>
            </li>

            <?php
            /**
             * Honeypot field [start]
             */
            $honeypotFieldName = Mage::getStoreConfig('contacts/honeypot/formfield_name');
            $honeypotFieldLabel = Mage::getStoreConfig('contacts/honeypot/formfield_label');
            ?>
            <li style="display: none">
              <label for="<?php echo $honeypotFieldName; ?>"><?php echo $honeypotFieldLabel ?></label>
              <div class="input-box">
                <input name="<?php echo $honeypotFieldName; ?>" id="<?php echo $honeypotFieldName; ?>" title="<?php echo $honeypotFieldLabel ?>" value="" class="input-text" type="text" />
              </div>
            </li>
            <?php
            /**
             * Honeypot field [end]
             */
            ?>

            <li class="wide">
              <label for="comment" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Comment') ?></label>

              <div class="input-box">
                <textarea name="comment" id="comment"
                          title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Comment')) ?>"
                          class="required-entry input-text" cols="5" rows="3"></textarea>
              </div>
            </li>
            <div class="field">
                <label for="accept" class="required"><em>*</em>Datenschutz</label>
                <li class="">
                    <input name="gdpr-confirm" id="privacy-acceptance" title="Datenschutz" value="gdpr-confirm" class="input-text required-entry" type="checkbox"/>
                </li>
                    <p>Ich habe die Datenschutzerklärung zur Kenntnis genommen. Ich stimme einer elektronischen Speicherung und Verarbeitung meiner eingegebenen Daten zur Beantwortung meiner Anfrage zu.</p>
                    <p class="input-hint">
                        Hinweis: Die Einwilligung kann jederzeit für die Zukunft per E-Mail an 
                        <b><?php echo(Mage::getStoreConfig('trans_email/ident_support/email'));?> </b>
                        widerrufen werden.
                    </p>
              </div>
          </ul>
        </div>
        <div class="buttons-set">
          <p class="required"><?php echo Mage::helper('contacts')->__('* Required Fields') ?></p>
          <input type="text" name="hideit" id="hideit" value="" style="display:none !important;"/>
          <button type="submit"
                  title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Submit')) ?>"
                  class="button"><span><span><?php echo Mage::helper('contacts')->__('Submit') ?></span></span></button>
        </div>
      </form>
      <script type="text/javascript">
        //<![CDATA[
        var contactForm = new VarienForm('contactForm', true);
        //]]>
      </script>
    </div>
  </div>
</div>