<?php /* @var $this Mage_Sales_Block_Recurring_Profiles */ ?>
<div class="tile section-content">
    <div class="tile-content customer-account-content recurring-profiles-content">
        <h1><?php echo $this->__('Recurring Profiles') ?></h1>

        <?php echo $this->getMessagesBlock()->toHtml() ?>

        <div class="recurring-profiles">

            <?php echo $this->getChildHtml('grid')?>

            <div class="buttons-set">
                <p class="back-link"><a href="<?php echo $this->escapeHtml($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            </div>
        </div>
    </div>
</div>