<?php
/**
 * Last order sidebar
 *
 * @see Mage_Sale_Block_Reorder_Sidebar
 */
?>
<?php $_items = $this->getItems() ?>
<?php if ($_items): ?>
  <div class="teaser tile">
    <p class="tile-title">
        <span class="tile-title-icon">
            <svg viewBox="0 0 20 20" class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-history"></use>
            </svg>
        </span>
      <?php echo $this->__('My Orders') ?>
    </p>

    <div class="tile-content">
      <form method="post" action="<?php echo $this->getFormActionUrl() ?>" id="reorder-validate-detail">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <ol class="history-items">
          <?php $_showAddButtonFlag = false ?>
          <?php foreach ($_items as $_item): ?>
            <li class="item">
              <?php if ($this->isItemAvailableForReorder($_item)): ?>
                <?php $_showAddButtonFlag = true ?>
                <input type="checkbox" name="order_items[]" id="reorder-item-<?php echo $_item->getId() ?>"
                       value="<?php echo $_item->getId() ?>"
                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>"
                       class="checkbox validate-one-required-by-name"/>
                <script type="text/javascript">
                  //<![CDATA[
                  $('reorder-item-<?php echo $_item->getId() ?>').advaiceContainer = 'cart-sidebar-reorder-advice-container';
                  //]]>
                </script>
              <?php endif; ?>
              <p class="product-name"><a
                    href="<?php echo $_item->getProduct()->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a>
              </p>
            </li>
          <?php endforeach; ?>
        </ol>

        <div id="cart-sidebar-reorder-advice-container"></div>

        <div class="actions">
          <a href="<?php echo $this->getUrl('customer/account') ?>" class="compare-remove-all"><?php echo $this->__('View All'); ?></a>

          <?php if ($_showAddButtonFlag): ?>
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart compare-btn">
              <?php echo $this->__('Add to Cart') ?>
            </button>
          <?php endif; ?>

        </div>
      </form>

      <?php echo $this->getPagerHtml(); ?>
    </div>
    <script type="text/javascript">
      //<![CDATA[
      var reorderFormDetail = new VarienForm('reorder-validate-detail');
      //]]>
    </script>
  </div>
<?php endif ?>