<?php
/**
 * @var $this FireGento_GermanSetup_Block_Checkout_Agreements
 */

/** @var $helper FireGento_GermanSetup_Helper_Data */
$helper = Mage::helper('germansetup');
$agreements = $this->getAgreements();
?>

<?php if (!$agreements) return; ?>

<form action="" id="checkout-agreements" onsubmit="return false;">
    <ol class="checkout-agreements">
        <?php foreach ($agreements as $agreement): ?>
            <li>
                <p class="agree">
                    <?php if ($agreement->getIsRequired()): ?>
                        <input type="checkbox" id="agreement-<?php echo $agreement->getId() ?>"
                               name="agreement[<?php echo $agreement->getId() ?>]" value="1"
                               title="<?php echo $this->htmlEscape($agreement->getCheckboxText()) ?>" class="checkbox"/>
                    <?php endif; ?>
                    <label<?php if ($agreement->getIsRequired()): ?> for="agreement-<?php echo $agreement->getId() ?>"<?php endif; ?>>
                        <?php echo $agreement->getIsHtml() ? $agreement->getCheckboxText() : $this->escapeHtml($agreement->getCheckboxText()) ?>
                    </label>
                </p>
            </li>
        <?php endforeach ?>
    </ol>
</form>