<?php if ($crumbs && is_array($crumbs)): ?>
  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <ul class="breadcrumbs-list">
        <?php foreach ($crumbs as $_crumbName => $_crumbInfo): ?>
          <li class="<?php echo $_crumbName ?>">
            <?php if ($_crumbInfo['link']): ?>
              <a class="breadcrumbs-element" href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->escapeHtml($_crumbInfo['title']) ?>">
                <?php if($_crumbName != 'home'): ?>
                  <svg viewBox="0 0 20 20" class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit"></use>
                  </svg>
                <?php endif; ?>
                <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
              </a>
            <?php elseif ($_crumbInfo['last']): ?>
              <span class="breadcrumbs-element">
                <svg viewBox="0 0 20 20" class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit"></use>
                </svg>
                <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
              </span>
            <?php else: ?>
              <span class="breadcrumbs-element">
                <svg viewBox="0 0 20 20" class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit"></use>
                </svg>
                <?php echo $this->escapeHtml($_crumbInfo['label']) ?>
              </span>
            <?php endif; ?>
          </li>
        <?php endforeach; ?>
      </ul>
    </div>
  </div>
<?php endif; ?>
