<div class="footer-container">

  <div class="footer_payments clearfix">
    <div class="footer_payments-inner">
      <div class="footer_payments-item">
        <svg viewBox="0 0 320 120" class="icon icon-paypal">
          <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-paypal"></use>
        </svg>
      </div>
      <div class="footer_payments-item">
        <svg viewBox="0 0 320 120" class="icon icon-visa">
          <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-visamastercard"></use>
        </svg>
      </div><div class="footer_payments-item">
        <svg viewBox="0 0 320 120" class="icon icon-amazon">
          <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-amazonpayments"></use>
        </svg>
      </div>
      <div class="footer_payments-item">
        <svg viewBox="0 0 320 120" class="icon icon-precash">
          <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-vorkasse"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="footer">

    <div class="col-container">
      <div class="col footer-col">
        <p class="footer-title">Support</p>

        <div class="footer-icon-content">
          <a href="<?php echo $this->getUrl('contacts'); ?>" class="footer-icon icon-contact">
            <svg viewBox="0 0 20 20" class="icon">
              <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-contact"></use>
            </svg>
          </a>
          <p>
            <?php $phone = Mage::getStoreConfig('general/store_information/phone_support'); ?>
            <?php echo $this->__('Customer Service'); ?><br><a href="tel:<?php echo $this->helper('imprint')->formatPhoneNumber($phone); ?>"><?php echo $phone; ?></a><br><br>
          </p>
        </div>

        <p>
          <?php echo $this->__('Personal advice & pickup'); ?><br/>
          <?php echo Mage::getStoreConfig('general/store_information/hours'); ?><br /><br/>
          <?php echo "Telefonisch" ?><br/>
          <?php echo Mage::getStoreConfig('general/store_information/hours2'); ?>
        </p>
      </div>

      <div class="col footer-col">
        <p class="footer-title"><?php echo $this->__('You can find is on'); ?></p>
        <a href="https://www.facebook.com/LED.Universum.de" class="footer-icon icon-facebook" target="_blank">
          <svg viewBox="0 0 20 20" class="icon">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-facebook"></use>
          </svg>
        </a>
        <a href="https://twitter.com/LED_Universum" class="footer-icon" target="_blank">
          <svg viewBox="0 0 20 20" class="icon">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-twitter"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/channel/UC2lzennb5e4kZfUldqYyhYg" class="footer-icon icon-youtube" target="_blank">
          <svg viewBox="0 0 20 20" class="icon">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-youtube"></use>
          </svg>
        </a>
        <a href="https://plus.google.com/b/114530791993205889780/114530791993205889780/posts" class="footer-icon icon-google-plus" target="_blank">
          <svg viewBox="0 0 20 20" class="icon">
            <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-google-plus"></use>
          </svg>
        </a>

        <ul>
            <li class="footer-ssl">
                <p class="footer-ssl-img"> <img src="<?php echo $this->getSkinUrl('images/ssl.png')?>" alt="SSL Sicherheit"> </p>
            </li>
        </ul>
      </div>

      <div class="col footer-col footer-col-wide">
          <a href="https://www.facebook.com/LED.Universum.de/" target="_blank" title="Besuchen sie uns auf Facebook">
            <img alt="Facebook-Seite-Rabatte" class="offer-footer-banner" src="<?php echo $this->getSkinUrl('images/Banner-Rabatte.jpg')?>">
          </a>
      </div>

      <div class="footer_bottom">

        <?php echo $this->getChildHtml('footer_links_about') ?>
        
            <?php echo $this->getChildHtml('footer_links_customerservice') ?>

        <?php echo $this->getChildHtml('footer_links_assortment') ?>

        <div class="col footer-col">
          <?php echo $this->getChildHtml('top_categories') ?>
        </div>

      </div>

    </div>

  </div>
</div>
