<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>

<header id="header" class="page-header">
    <div class="page-header-container">
        <div class="page-header-left">

            <div class="mainmenu">
                <button class="mainmenu-btn">
                    <svg
                        viewBox="0 0 20 20" class="icon icon-menu">
                        <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-menu"></use>
                    </svg>
                    <svg
                        viewBox="0 0 20 20" class="icon icon-close">
                        <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-close"></use>
                    </svg>
                    <span class="btn-txt"><?php echo $this->__('Menu'); ?></span>
                </button>
                <?php echo $this->getChildHtml('topMenu') ?>
                <?php echo $this->getChildHtml('menuMobile') ?>
            </div>

            <div class="page_header_search">
                <?php echo $this->getChildHtml('topSearch') ?>
            </div>
        </div>

        <a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large"/>
        </a>

        <?php /*// In order for the language switcher to display next to logo on smaller viewports, it will be moved here.
              // See app.js for details ?>
        <div class="store-language-container"></div>*/ ?>

        <div class="account-cart-wrapper">
            <a href="tel:+4935165335641" class="account-cart-wrapper-action header_phone-number">
                <svg viewBox="0 0 20 20" class="icon">
                    <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-service"></use>
                </svg>
                <span class="header_phone-number-txt">
                    <?php echo Mage::getStoreConfig('general/store_information/phone'); ?>
                </span>
            </a>

            <a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>" data-target-element="#header-account"
               class="account-cart-wrapper-action<?php if (Mage::getSingleton('customer/session')->isLoggedIn()): ?> active<?php endif; ?>"
               rel="nofollow">
                <svg viewBox="0 0 20 20" class="icon">
                    <use xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-login"></use>
                </svg>
                <span class="label-name"><?php echo $this->__('Account'); ?></span>
            </a>

            <?php /*
      <!-- Cart -->
      */ ?>
            <div class="header-minicart account-cart-wrapper-action">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>
        </div>
    </div>
</header>

<?php echo $this->getChildHtml('topContainer'); ?>
