<?php
/**
 * Top menu for store
 *
 * @see Mage_Page_Block_Html_Topmenu
 */
?>
<?php $_menu = str_replace('</li><li', '</li> <li', $this->getHtml()); ?>

<?php if ($_menu): ?>
  <div class="mainmenu-container mainmenu-mobile">
    <ul class="mobile-menu_list">
      <?php echo $_menu ?>
    </ul>
  </div>
<?php endif ?>
