<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if ($this->getCollection()->getSize()): ?>

  <?php if ($this->getUseContainer()): ?>
    <div class="pager pager-no-toolbar">
  <?php endif ?>

  <?php if ($this->getShowAmounts() || $this->getShowPerPage()): ?>
    <div class="count-container">
      <?php if ($this->getShowAmounts()): ?>
        <?php if ($this->getLastPageNum() > 1): ?>
          <p class="amount amount--has-pages">
            <?php echo $this->__('%s-%s of %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
          </p>
        <?php else: ?>
          <p class="amount amount--no-pages">
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
          </p>
        <?php endif; ?>
      <?php endif ?>

      <?php if ($this->getShowPerPage()): ?>
        <div class="limiter">
          <label><?php echo $this->__('Show') ?></label>
          <select onchange="setLocation(this.value)"
                  title="<?php echo Mage::helper('core')->quoteEscape($this->__('Results per page')); ?>">
            <?php foreach ($this->getAvailableLimit() as $_key => $_limit): ?>
              <option
                value="<?php echo $this->getLimitUrl($_key) ?>"<?php if ($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
              </option>
            <?php endforeach; ?>
          </select>
        </div>
      <?php endif ?>
    </div>
  <?php endif; ?>

  <?php if ($this->getLastPageNum() > 1): ?>

    <?php if ($this->getShouldRenderRel()): ?>
      <?php if (!$this->isFirstPage()): ?>
        <link rel="prev" href="<?php echo $this->getPreviousPageUrl() ?>" />
      <?php endif; ?>
      <?php if (!$this->isLastPage()): ?>
        <link rel="next" href="<?php echo $this->getNextPageUrl() ?>" />
      <?php endif; ?>
    <?php endif; ?>

    <div class="pages">
      <ol>
        <?php if (!$this->isFirstPage()): ?>
          <li>
            <a class="pager-prev pager-element"
               href="<?php echo $this->getPreviousPageUrl() ?>"
               title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>">
              <svg viewBox="0 0 20 20" class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit" transform="rotate(180 10 10)"></use>
              </svg>

              <?php if (!$this->getAnchorTextForPrevious()): ?>
                <?php echo $this->__('Previous') ?>
              <?php else: ?>
                <?php echo $this->getAnchorTextForPrevious() ?>
              <?php endif; ?>
            </a>
          </li>
        <?php endif; ?>

        <?php foreach ($this->getFramePages() as $_page): ?>
          <?php if ($this->isPageCurrent($_page)): ?>
            <li class="current"><span class="pager-element"><?php echo $_page ?></span></li>
          <?php else: ?>
            <li><a class="pager-element" href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
          <?php endif; ?>
        <?php endforeach; ?>

        <?php if (!$this->isLastPage()): ?>
          <li>
            <a class="pager-next pager-element"
               href="<?php echo $this->getNextPageUrl() ?>"
               title="<?php echo Mage::helper('core')->quoteEscape($this->__('Next Page')) ?>">
              <?php if (!$this->getAnchorTextForNext()): ?>
                <?php echo $this->__('Next Page') ?>
              <?php else: ?>
                <?php echo $this->getAnchorTextForNext() ?>
              <?php endif; ?>

              <svg viewBox="0 0 20 20" class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-submit"></use>
              </svg>
            </a>
          </li>
        <?php endif; ?>
      </ol>

    </div>
  <?php endif; ?>

  <?php if ($this->getUseContainer()): ?>
    </div>
  <?php endif ?>

<?php endif ?>
