<?php
/**
 * @var $this Digitalwert_MainMenu_Block_Page_Html_Topmenu_StaticChild
 */
?>

<?php
$menuItem = $this->getMenuItem();

if (!$menuItem):
    return;
endif;

$staticBlocks = $this->getCmsStaticBlock();

if ($staticBlocks == null || empty($staticBlocks)):
    return;
endif;

$processor = $this->getBlockTemplateProcessor();
?>

<?php // alle 6 Elemente/Blöcke (Zeile 1 & 2) im ausgefahrenen Menü anzeigen ?>
<?php for ($i = 0; $i < 2; $i++): ?>

    <div class="megamenu-col-wrapper">

        <?php for ($x = 0; $x < 3; $x++): ?>

            <div class="mainmenu_col-33">
                <div class="mainmenu-box-wrapper">
                    <?php
                    $index = ($i * 3) + $x;
                    echo $processor->filter($staticBlocks[$index]->getContent());
                    ?>
                </div>
            </div>

        <?php endfor; ?>
    </div>

<?php endfor; ?>


<?php // 7. Element/Block - Bild - im ausgefahrenen Menü anzeigen ?>

<div class="mainmenu_img">
    <?php echo $processor->filter($staticBlocks[6]->getContent()); ?>
</div>

