.teaser {
	&.is--full-page {
		// padding-top: 18.85%;
		min-height: 362px;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center;
		margin-top: 2rem;
		margin-bottom: 3rem;

		.section-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0;

			&:before {
				content: "";
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.section-content-inner {
			vertical-align: middle;
			display: inline-block;
			width: 50%;
		}

		.teaser_content {
			margin-right: 15px;
		}
	}
}

	.teaser_content {
		background-color: rgba(#fff, .9);
		color: $c-gray-2;
		padding: 15px 20px;
	}

.teaser-headline {
	font-size: 30px;
	text-transform: none;
	margin: 0 0 25px 0;
}

.teaser-txt {
	color: $c-gray;
	font-size: 14px;
}

.teaser-link {
	color: $c-white;
	font-size: 20px;
	background-color: rgba($c-green, .8);
	text-transform: uppercase;
	padding: 10px 50px 10px 20px;
	margin-top: 15px;
	display: inline-block;
	@include hoverBack();

	&:hover {
		@include hover();
	}
}


/* ***********************************************
** Teaser 2-colums
*********************************************** */
.teaser_2columns_wrapper {
	font-size: 0;
	letter-spacing: 0;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;

    .teaser-link-wrapper {
    	+.teaser-link-wrapper {
			.teaser {
				&.is--half-page {
					margin-right: 0;
					margin-left: 15px;
				}
			}
    	}
    }

	.teaser {
		&.is--half-page {
			// width: 50%;
			width: calc(50% - 15px);
			margin-right: 15px;
			// padding-top: 53.33%;
			padding-top: 26.665%;
			display: inline-block;
			vertical-align: top;
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
		}

		.section-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0;

			&:before {
				content: "";
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.section-content-inner {
			vertical-align: middle;
			display: inline-block;
			padding: 30px;
			box-sizing: border-box;
		}
	}
}

.category-content {
	+.teaser_2columns_wrapper {
		padding-top: 0;
	}
}

/* ***********************************************
** Teaser 3-colums
*********************************************** */
.teaser_3columns_wrapper {
	font-size: 0;
    max-width: 1500px;
    margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 3rem;

	.home_teaser_item {
		width: 33%;
		width: calc(33% - 20px);
		vertical-align: top;
		display: inline-block;
		background-color: $c-white;
		margin-right: 36px;
		border: 1px solid $c-gray-dark;

		+.home_teaser_item {
			+.home_teaser_item {
				margin-right: 0;
			}
		}

		.icon {
			width: 80px;
			height: 80px;
			fill: $c-gray-2;
		}
	}

	.home_teaser_item-inner {
		font-size: .875rem;
		padding: 50px 80px;
	}

	.home_teaser_content {
		text-align: center;
	}

	.home_teaser_headline {
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		color: $c-text;
		margin: 15px 0;
	}

	.home_teaser_txt {
		font-size: .875rem;
		color: $c-gray;
	}
}



