<?php
/** @var Mage_Page_Block_Html_Topmenu_Renderer $this */
/** @var Varien_Data_Tree_Node $menuTree */
/** @var string $childrenWrapClass */

$html = '';

$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach ($children as $child):
    $child->setLevel($childLevel);
    $child->setIsFirst($counter == 1);
    $child->setIsLast($counter == $childrenCount);
    $child->setPositionClass($itemPositionClassPrefix . $counter);

    $_hasChildren = ($child->hasChildren()) ? 'has-children' : '';

    if(is_null($parentLevel)):
        $child->setClass('level-top');
    endif;

    $html .= '<li '. $this->_getRenderedMenuItemAttributes($child) .'>';

    $child->setClass('');

    $html .= '<a href="'. $child->getUrl() .'" class="mainmenu-link">'. $this->escapeHtml($this->__($child->getName())) .'</a>';

    $html .= '<div class="mainmenu-box">';

    $html .= $this->getStaticMenuFor($child);

    $html .= '</div>';

    $html .= '</li>';

    $counter++;
endforeach;

return $html;