<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>

<?php
$_helper = $this->helper('catalog/output');
$_category = $this->getCurrentCategory();
$_imgHtml = '';

if ($_imgUrl = $_category->getImageUrl()):
  $_imgHtml = '<p class="category-image"><img src="' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" /></p>';
  $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
endif;

$messagesHtml = $this->getMessagesBlock()->toHtml();
$_description = $this->getCurrentCategory()->getDescription()
?>

<?php if ( !empty($messagesHtml) ): ?>
<div class="section-content">
  <?php echo $messagesHtml ?>
</div>
<?php endif; ?>

<?php if ($_description || !empty($messagesHtml) || !empty($_imgUrl)): ?>

  <div class="header-wrapper">
    <?php if ($_imgUrl = $_category->getImageUrl()): ?>
    <div class="header-img" style="background-image: url( <?php echo $_imgUrl; ?> )">
    <?php endif; ?>
      <div class="header-content">
        <?php if ($_description): ?>
          <div class="section-content">
            <div class="hader_teaser">
              <div class="seo-content text-content">
                <?php echo $_helper->categoryAttribute($_category, $this->getCurrentCategory()->getDescription(), 'description') ?>
              </div>
            </div>
          </div>
        <?php endif; ?>
      </div>
    <?php if ($_imgUrl = $_category->getImageUrl()): ?>
    </div>
    <?php endif; ?>
  </div>

<?php endif; ?>
