$mediaGab: 25px;
$headerHeight: 50px;

// 1500px + 132px = 1632px
// 1632px + 132px = 1764px
// 1764px + 15px + 15px = 1794px

@media (max-width: 1794px) and (min-width: 801px) {
$ml: 132px;
$scp: 15px;

	.section-content,
	.teaser_3columns_wrapper,
	.footer_payments-inner,
	.footer {
		margin: 0 0 0 $ml;
		width: calc(100% - #{$ml});
		padding: 0 $scp;
	}

	.cms-index-index {
		.section-content,
		.teaser_3columns_wrapper,
		.footer_payments-inner,
		.footer {
			margin: 0 auto;
			max-width: $section-content;
			width: auto;
			padding: 0;
		}
	}

	.cms-index-index {
		.teaser_3columns_wrapper {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}

}

@media (max-width: 1500px + $mediaGab + $mediaGab) and (min-width: 801px) {
	.section-content,
	.footer_payments-inner,
	.footer {
		.cms-index-index & {
			&:not(.teaser-slider) {
				margin-right: $mediaGab;
				margin-left: $mediaGab;
			}
		}
	}

	.teaser-slider-item {
		.slider-content {
			margin-right: $mediaGab;
			margin-left: $mediaGab;
		}
	}
}

@media (max-width: 1500px + $mediaGab + $mediaGab) {
	.teaser-slider-inner {
		margin-left: 0;
		margin-right: 0;
	}

	.teaser-slider-list {
		width: 100%;
	}
}

@media (max-width: 1499px) {
	.teaser {
		&.is--full-page {
			.section-content {
				position: static;

				&:before {
					content: none;
				}
			}

			.section-content-inner {
				width: 100%;
				padding: 15px 0;
				// position: absolute;
				// top: 50%;
				display: block;
				// transform: translateY(-50%);
			}

			.teaser_content {
				margin-right: 0;
			}
		}
	}

	.footer_payments-item {
		width: auto;
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media (max-width: 1450px) {
	.logo {
		height: 100%;

		img {
			height: 100%;
			width: auto;
			max-width: none;
			padding: 11px;
		}
	}

	.page-header-container {
		height: $headerHeight;

		a {
			&.account-cart-wrapper-action {
				padding: 0 8px;
			}
		}
	}

	.page-header {
		padding-top: $headerHeight;
	}

	.breadcrumbs {
		top: $headerHeight;
	}

	.sidebar_container {
		top: $headerHeight;
	}

	.aside-fix,
	.mainmenu-container,
	body:after {
		top: $headerHeight;
	}

	.mainmenu-box {
		height: calc(100vh - #{$headerHeight});
	}

	.footer {
		// margin: 0 0 $headerHeight 0;
	}

	.header_phone-number-txt {
		display: none;
	}

	.account-cart-wrapper-action {
		width: auto;

		a {
			padding: 0 25px;
			height: 100%;
		}

		.icon,
		&.header-minicart .label {
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			margin: 0;

			.icon {
				top: auto;
				transform: none;
			}
		}

		.header-minicart-link {
			.sum {
				vertical-align: 6px;
				margin-left: 10px;
			}

			.count {
				top: -9px;
				left: 16px;
			}
		}

		.label-name {
			display: none;
		}
	}
}

@media (max-width: 1400px) {
	//Slider Product
	.product-slider-introtile {
		width: 25%;
	}

	.products-slider {
		width: 75%;
	}

	.products-grid {
		&.products-slider-list {
			.product {
				width: 35.3333%;
				flex-basis: 35.3333%;
			}
		}
	}

	.checkout-cart-index {
		.container-main {
			padding-right: 0;
			float: none;
		}

		.container-side {
			width: 100%;
			margin-left: 0;
			margin-top: 0;
			float: none;
			@include boxReset();
		}
	}
}

@media (max-width: 1400px) and (min-width: 851px) {
	.checkout-cart-index {
		.container-side {
			.discount-tile,
			.prices-tile {
				display: inline-block;
				width: 49%;
				vertical-align: top;
				margin: 0;
				box-sizing: border-box;
			}

			.discount-tile {
				margin-right: 1%;
			}

			.prices-tile {
				margin-left: 1%;
			}
		}
	}
}

@media (max-width: 1350px) {
	.products-grid {
		.product {
			width: 33.3333%;
			flex-basis: 33.3333%;
		}
	}
}


@media (max-width: 1279px) {
	.product-shop {
		margin-top: 1rem;
	}
}

@media (max-width: 1259px) {}

@media (max-width: 1200px) {
	//Slider Product
	.product-slider-introtile {
		width: 33.3333%;
	}

	.products-slider {
		width: 66.6666%;
	}

	.products-grid {
		&.products-slider-list {
			.product {
				width: 52%;
				flex-basis: 52%;
			}
		}
	}

	.toolbar-filter {
		.sort-by {
			border: none;
		}

		.count-container {
			padding-bottom: 12px;
		}

		.tile-content {
			float: none;
			display: block;

			&+.tile-content {
				float: none;
				display: block;
				border-top: 1px solid $c-gray-light-2;
			}
		}
	}

	.teaser_2columns_wrapper {
		.teaser {
			&.is--half-page {
				width: 100%;
				margin-right: 0;
				background-size: cover;
				background-position: center;
				padding-top: 0;
			}

			.section-content {
				position: static;
			}
		}

		.teaser-link-wrapper {
			+.teaser-link-wrapper {
				margin-top: 3rem;
				display: block;

				.teaser {
					&.is--half-page {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.mainmenu {
		.btn-txt {
			display: none;
		}
	}

	.teaser-slider-item-inner {
		min-height: 300px;
	}

	.header_search-form {
		width: 60px;

		.input-text {
			display: none;
		}

		&.is--active {
			.input-text {
				display: block;
			}
		}
	}

	.products-grid {
		.product {
			width: 50%;
			flex-basis: 50%;
		}
	}

	.checkout-cart-index {
		.shopping-cart-links {
			.links-right {
				float: none;
				width: 100%;
				border: none;
			}
		}
	}

	.teaser-headline {
		font-size: 26px;
	}

	.teaser-link {
		font-size: 17px;
	}

	.tile-subtitle {
		font-size: 20px;
	}

	.teaser_3columns_wrapper {
		.home_teaser_headline {
			font-size: 18px;
		}

		.home_teaser_item-inner {
			padding: 30px;
		}
	}

	h1, h2, h3 {
		font-size: 23px;
	}

	.header-wrapper {
	    .hader_teaser {
	        p {
	        	font-size: 14px;
	        }
	    }
	}

	.toolbar-filter {
		p {
			font-size: 14px;
		}
	}

	.product-name-headline {
		font-size: 1.5rem;
	}

	.std {
		p {
			font-size: .875rem;
		}
	}

	.product-view-highlights {
		.feature-hook-item {
			font-size: .875rem;
			padding: 5px 0;
		}
	}

	body, button, input, select, table, textarea,
	.main-container {
		font-size: .875rem;
	}

	//Main Menu
	// .mainmenu-container {left:0;}	//TEST
	// .mainmenu-item:first-child .mainmenu-box {	//TEST
	// 	// width: 735px;
	// 	// opacity: 1;
	// }

	// .mainmenu {
	// 	.mainmenu_img {
	// 		display: none;
	// 	}

	// 	.mainmenu-container {
	// 		width: 300px;
	// 		overflow: hidden;
	// 	}

	// 	.mainmenu-item {
	// 		&.is--active {
	// 			.mainmenu-box {
	// 				width: 100%;
	// 				position: absolute;
	// 				left: 0;
	// 				z-index: 100;
	// 				@include mainMenu();
	// 			}
	// 		}
	// 	}

	// 	.mainmenu-box-wrapper {
	// 		margin: 0;

	// 		&.is--active {
	// 			ul {
	// 				width: 100%;
	// 				@include mainMenu();
	// 			}
	// 		}

	// 		ul {
	// 			position: absolute;
	// 			top: 0;
	// 			right: 0;
	// 			bottom: 0;
	// 			background-color: $c-gray-light;
	// 			width: 0;

	// 			li {
	// 				a {
	// 					padding: 20px 40px;
	// 					color: $c-gray-2;
	// 					background-color: $c-gray-light;
	// 					font-size: .75rem;
	// 					font-weight: bold;
	// 					letter-spacing: .5px;
	// 					display: block;
	// 				}
	// 			}
	// 		}

	// 		p {
	// 			border: none;
	// 			margin: 0;
	// 			padding: 0;

	// 			a {
	// 				padding: 20px 40px;
	// 				color: $c-gray-2;
	// 				background-color: $c-gray-light;
	// 				font-size: .75rem;
	// 				font-weight: bold;
	// 				letter-spacing: .5px;
	// 				display: block;
	// 			}
	// 		}
	// 	}

	// 	.mainmenu_col-33 {
	// 		display: block;
	// 		width: 100%;
	// 	}
	// }




}

@media (max-width: 950px) {
	.teaser_3columns_wrapper {
		.home_teaser_item {
			width: 100%;
			margin-right: 0;
		}
	}
}

@media (max-width: 850px) {
	.toolbar-filter {
		.tile-content {
			&+.tile-content {
				border-top: none;
			}
		}

		.tile-content {
			.sorter {
				display: block;
				border-top: 1px solid $c-gray-light-2;
			}

			.limiter {
				border: none;
				display: block;
				border-top: 1px solid $c-gray-light-2;
			}
		}
	}
}

@media (min-width: 801px) {
	.aside-fix_item {
		&.aside_checkout {
			display: none;
		}
	}
}

@media (max-width: 800px) {
	.page_header_search {
		float: right;
		width: 60px;
	}

	.teaser-slider-headline {
		font-size: 20px;
	}

	.teaser-slider-link {
		font-size: 14px;
		margin: 0;
	}

	.section-content,
	.footer_payments-inner {
		margin: 0;
		width: 100%;
		padding: 0 15px;

		&.teaser-slider {
			padding: 0;
		}
	}

	.teaser-slider-item-inner {
		.slider-content {
			left: 15px;
			right: 15px;
		}
	}

	.footer {
		width: 100%;
		padding: 0 15px;
		margin-bottom: $headerHeight;
	}

	.account-cart-wrapper {
		display: none;
		// position: fixed;
		// bottom: 0;
		// left: 0;
		// right: 0;
		// height: 45px;
		// background-color: $c-white;
		// border-top: 1px solid #d3d3d3;
	}

	.breadcrumbs {
		top: 45px;
		padding-left: 0;
	}


	//Sidebar
	.cms-index-index .aside-fix {bottom: 0;}

	.aside-fix {
		top: auto;
		bottom: 0;
		right: 0;
		left: 0;
		width: auto;
		height: $headerHeight;

		.sidebar-btn {
			padding: 10px 0;
			text-align: center;
			height: 100%;
			border-right: 1px solid #d3d3d3;

			// &:last-child {
			// 	border-right: none;
			// }

			span {
				display: none;
			}
		}

		.aside_checkout {
			.sidebar-btn {
				background-color: $c-red;

				.icon {
					fill: $c-white;
				}

				.icon-wrapper {
					display: inline-block;
					position: relative;
				}

				.count {
					display: inline-block;
					font-size: 11px;
					position: absolute;
					top: -6px;
					left: 19px;
					background-color: $c-green;
					color: $c-white;
					border-radius: 10px;
					width: 20px;
					height: 20px;
				}
			}

			&:hover {
				.sidebar-btn {
					@include hoverGreen();
				}
			}
		}

		.sidebar_container {
			top: $headerHeight;
			bottom: $headerHeight;
			left: 0;
			width: auto;
			min-width: 50%;
		}
	}

	.aside-fix_item-split {
		display: none;
	}

	.aside-fix_list {
		height: 100%;
		@include boxReset();

		.flexbox & {
			display: flex;
		}
	}

	.aside-fix_item {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		height: 100%;

		.flexbox & {
			flex-grow: 1;
		}
	}

	.sidebar-btn-service {
		.icon {
			fill: $c-gray;
		}
	}



	.header-minicart {
		.sum {
			display: none;
		}
	}

	.account-cart-wrapper-action {
		.header-minicart-link {
			.count {
				top: -7px;
				left: 18px;
			}
		}
	}

	.back-to-top {
		bottom: 60px;
	}

	.page-header-left {
		width: 100%;
	}

	.mainmenu {
		// float: right;
	}

	.mainmenu-btn {
		width: 60px;
	}

	.header_search-form {
		&.is--active {
			width: calc(100vw - 60px);
		}
	}

	//Slider Product
	.product-slider-introtile {
		display: none;
	}

	.products-slider {
		width: 100%;
		margin: 0;

		.section-content & {

		}

		.slick-track {
			// margin-left: -25vw;
		}

		.products-slider-list {
			padding-bottom: 30px;

			.product {
				margin: 0;
				padding: 0;
			}
		}
	}

	//Footer
	.footer {
		>.col-container {
			>.col {
				&.footer-col:first-child {
					margin-bottom: 30px;
					&:after {
						content: "";
						display: block;
						width: 100vw;
						border-bottom: 1px solid $c-gray-dark;
						margin-left: -15px;
						padding-bottom: 15px;
					}
				}
			}
		}
	}

	.footer-col {
		width: 100%;
		margin-right: 0;
	}

	.footer_bottom {
		margin-top: 2rem;
		
		.footer-col {
			border-top: 1px solid $c-gray-dark;
		}

		.footer-title {
			margin: 0;
			padding: 1em 0;
			position: relative;

			.icon_minus-plus {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.customer-account-login {
		.new-users,
		.registered-users {
			width: 100%;
		}
	}

}

@media (max-width: 650px) {
	.products-grid {
		.product {
			width: 100%;
			flex-basis: 100%;
		}
	}

	.content-2column {
		width: 100%;
		float: none;
		padding: 0;
		margin: 2rem 0;
	}

	.checkout-onepage-content {
		.buttons-set {
			.back-link {
				float: none;
				width: 100%;
				margin-bottom: 25px;
			}

			.button {
				width: 100%!important;
			}
		}
	}
}

@media (max-width: 700px) {
	.tab-trigger {
		a {
			padding: 20px 15px;
		}
	}
}

@media (max-width: 650px) {
	.tab-trigger {
		a {
			padding: 20px 10px;
		}
	}
}

@media (max-width: 600px) {
	.footer_payments-item {
		height: 45px;
		padding: 0;
		margin-right: 20px;
	}
}

@media (max-width: 500px) {
	.product-cols {
		.product-col-66,
		.product-col-33 {
			width: 100%;
			display: block;
		}

		.product-col-66 {
			padding-right: 0;

			+.product-col-33 {
				padding-left: 0;
			}
		}

		.pds-brand-img {
			background-size: contain;
		}
	}

	.add-to-cart-buttons {
		display: block;

		.btn-cart {
			width: 100%;
		}

		.btn-accessory {
			display: block;
			width: 100%;
			margin-top: 2rem;
		}
	}

	.checkout-cart-index {
		.tile {
			padding: 30px 10px;
		}
	}

	.cart-table th:first-child,
	.cart-table td:first-child {
		padding-left: 5px;
	}

	.cart-table {
		.product-cart-image {
			.cart-links {
				padding: 0;
			}
		}
	}
}

@media (max-width: 400px) {
	.customer-account-login {
		.new-users,
		.registered-users {
			padding: 30px 0;
		}
	}
}





@media print {
	.page-header,
	.aside-fix,
	.teaser-slider {
		display: none;
	}

	.breadcrumbs {
		padding: 0;
		background: transparent;
		position: static;

		+.main-container {
			margin-top: 0;
		}
	}

	.breadcrumbs-element {
		font-size: 10px;
	}

	h1, h2, h3 {
		font-size: 18px;
	}

	.toolbar-filter,
	.product_flag-wrapper,
	.product-option,
	.button,
	.add-to-cart-buttons .btn-accessory,
	.product-slider-wrapper,
	.footer-container {
		display: none!important;
	}

	.tab-container {
		display: block!important;

		.tab-item {
			width: 100%;
			display: block!important;
			margin: 0!important;

			.tab_content {
				display: block!important;
				margin: 0!important;
				width: auto!important;
			}
		}
	}

	.teaser_3columns_wrapper {
		.home_teaser_item {
			width: 100%;
			display: block;
		}
	}
}
