<?php
$_coreHelper = $this->helper('core');
$_taxHelper = $this->helper('tax');
$_dealCollection = $this->getDeals();
$_collectionSize = count($_dealCollection);
?>

<?php if ($_collectionSize > 0): ?>
  <?php
  $_deal = $_dealCollection->getFirstItem();
  $beforetime = Mage::getModel('core/date')->timestamp(time()) - strtotime($_deal->getStartDateTime());
  $aftertime = strtotime($_deal->getEndDateTime()) - Mage::getModel('core/date')->timestamp(time());

  if (($aftertime <= 0) || ($beforetime < 0)):
    return;
  endif;

  MW_Dailydeal_Model_Business::increateFeaturedView($_deal->getId());
  $dealqty = $_deal->getDealQty();
  $soldqty = $_deal->getSoldQty();

  $_product = Mage::getModel('catalog/product')->load($_deal->getProductId());
  ?>

  <div class="offer tile">
    <p class="tile-title">
      <span class="tile-title-icon">
          <svg viewBox="0 0 20 20" class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                 xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-offer"></use>
          </svg>
      </span>

      <?php
      $title = trim(Mage::getStoreConfig('dailydeal/general/title'));
      if(!empty($title)):
        echo $title;
      else:
        echo $this->__('current deal');
      endif;
      ?>
    </p>
    <div class="tile-content">
      <div class="col-container">
        <div class="col offer-col">
          <a href="<?php echo $_product->getProductUrl(); ?>">
            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(Digitalwert_Catalog_Helper_Product::IMAGE_SIZE_AVERAGE); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
          </a>

          <p class="h2"><?php echo $this->__('deal overview'); ?></p>

          <p><?php echo $_deal->getDescription(); ?></p>
        </div>
        <div class="col offer-col">
          <a href="<?php echo $_product->getProductUrl(); ?>" class="offer-title"><?php echo $_product->getName() ?></a>

          <?php $_deal->setMinPriceFollowProductType($_product); ?>
          <div class="price-box">
            <span class="regular-price">
                <span class="price"><?php echo $this->__('deal from'); ?> <?php echo $_coreHelper->currency($_deal->getDailydealPrice(), true, false) ?></span>
            </span>
          </div>

          <div class="actions">
            <button type="button" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>')">
              <span>
                  <svg viewBox="0 0 20 20" class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg') ?>#icon-cart"></use>
                  </svg>
                  <span><?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?></span>
              </span>
            </button>
          </div>

          <?php if (Mage::helper('dailydeal')->getConfigTodayDealShowDetail()): ?>
            <div class="col-container offer-data">
              <?php
              $_deal->processValueDiscountSaveBought(array('model_product' => $_product));
              $_deal_info = $_deal->getData('value_discount_save_bought');
              ?>

              <?php $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice()) ?>

              <div class="col"><span class="offer-data-label"><?php echo $this->__('deal old price'); ?></span><br><?php echo $_coreHelper->currency($_regularPrice, true, false); ?></div>
              <div class="col"><span class="offer-data-label"><?php echo $this->__('deal discount'); ?></span><br><?php echo str_replace('%', '', $_deal_info['discount']) ?>&nbsp;%</div>
              <div class="col"><span class="offer-data-label"><?php echo $this->__('deal savings'); ?></span><br><?php echo $_deal_info['you_save'] ?></div>
            </div>
          <?php endif; ?>

          <?php
          $remainingSeconds = strtotime($_deal->getEndDateTime()) - time();
          $remainingDays = round($remainingSeconds / 86400);
          $remainingHours = round(($remainingSeconds % 86400) / 3600);
          $remainingMinutes = round((($remainingSeconds % 86400) % 3600) / 60);
          ?>
          <div class="col-container offer-data">
            <div class="col">
              <span id="cd_day-<?php echo $_deal->getDailydealId() ?>"><?php echo $remainingDays ?></span>
              <br><?php echo $this->__('Days'); ?>
            </div>

            <div class="col">
              <span id="cd_hour-<?php echo $_deal->getDailydealId() ?>"><?php echo $remainingHours; ?></span>
              <br><?php echo $this->__('Hours'); ?>
            </div>

            <div class="col">
              <span id="cd_min-<?php echo $_deal->getDailydealId() ?>"><?php echo $remainingMinutes; ?></span>
              <br><?php echo $this->__('Minutes'); ?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<?php endif; ?>