<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass() ? ' class="' . $this->getBodyClass() . '"' : '' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div class="page">
        <?php echo $this->getChildHtml('header') ?>

        <aside class="aside-fix">
            <ul class="aside-fix_list">

                <?php if ($_leftContent = trim($this->getChildHtml('left_first'))): ?>
                    <?php echo $_leftContent; ?>

                    <li class="aside-fix_item-split"></li> <?php // Trennlinie ?>
                <?php endif; ?>
                <?php echo $this->getChildHtml('left') ?>
            </ul>
        </aside>

        <?php echo $this->getChildHtml('breadcrumbs') ?>
        <?php echo $this->getChildHtml('content_fullwidth') ?>

        <div class="main-container col2-right-layout">
            <div class="main">
                <?php // This left_first block will display above the main content on smaller viewports ?>
                <div class="col-main">
                    <div class="clearfix section-content">
                        <?php echo $this->getChildHtml('global_messages') ?>

                        <div class="container-wide">
                            <?php echo $this->getChildHtml('content') ?>
                        </div>

                        <aside class="container-side">
                            <?php echo $this->getChildHtml('right') ?>
                        </aside>
                    </div>
                    <?php echo $this->getChildHtml('content_fullwidth_bottom') ?>
                </div>
            </div>
        </div>

        <?php echo $this->getChildHtml('footer_before') ?>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
