<?php
/* @var $this Mage_Catalog_Block_Product_Compare_List */
?>
<?php
$_helper = $this->helper('catalog/product_compare');
?>

<div class="tile">
    <div class="tile-content">
        <div class="title-buttons">
            <h1><?php echo $this->__('Compare Products') ?></h1>
        </div>

        <div class="buttons-set">
            <a href="#" onclick="window.print(); return false;" class="button link-print">
                <?php echo $this->__('Print This Page') ?>
            </a>
        </div>
    </div>
    <div class="tile-content">
        <?php $_total=$this->getItems()->count() ?>
        <?php if($_total): ?>
            <table class="data-table compare-table" id="product_comparison">
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php if($_i++%10==0): ?>
                        <col width="1" />
                    <?php endif; ?>
                    <col width="<?php echo floor(100/$_total); ?>%" />
                <?php endforeach; ?>
                <?php if ($_total>2): ?>
                    <thead>
                    <tr>
                        <?php $_i=0 ?>
                        <?php foreach($this->getItems() as $_item): ?>
                            <?php if($_i++%10==0): ?>
                                <th>&nbsp;</th>
                            <?php endif; ?>
                            <td class="a-right">
                                <?php // echo $this->__('Remove This Item') ?>
                                <a href="#" class="btn-remove" onclick="removeItem('<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>');" title="<?php echo $this->quoteEscape($this->__('Remove This Item')) ?>">
                                    <svg viewBox="0 0 20 20" class="icon icon-close">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-close"></use>
                                    </svg>
                                </a>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                    </thead>
                <?php endif ?>
                <tbody>
                <tr class="product-shop-row top">
                    <?php $_i=0 ?>
                    <?php foreach($this->getItems() as $_item): ?>
                        <?php if($_i++%10==0): ?>
                            <th>&nbsp;</th>
                        <?php endif; ?>
                        <td>
                            <a class="product-image" href="#" onclick="setPLocation('<?php echo $this->getProductUrl($_item) ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>" /></a>
                            <h2 class="product-name"><a href="#" onclick="setPLocation('<?php echo $this->getProductUrl($_item) ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></h2>
                            <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?>
                            <?php echo $this->getPriceHtml($_item, true, '-compare-list-top') ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                <tr class="product-shop-row bottom">
                    <?php $_i=0 ?>
                    <?php foreach($this->getItems() as $_item): ?>
                        <?php if($_i++%10==0): ?>
                            <th>&nbsp;</th>
                        <?php endif; ?>
                        <td>
                            <?php if($_item->isSaleable()): ?>
                                <p>
                                    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setPLocation('<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>', true)">
                                        <span>
                                          <svg viewBox="0 0 20 20" class="icon">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-cart"></use>
                                          </svg>
                                          <span><?php echo $this->__('Add to Cart') ?></span>
                                        </span>
                                    </button>
                                </p>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <br />
                                <ul class="add-to-links">
                                    <li>
                                        <a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                            <svg viewBox="0 0 20 20" class="icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
                                            </svg>
                                            <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                                        </a>
                                    </li>
                                </ul>
                            <?php endif; ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
                <tbody>
                <?php foreach ($this->getAttributes() as $_attribute): ?>
                    <tr>
                        <?php $_i=0 ?>
                        <?php foreach($this->getItems() as $_item): ?>
                            <?php if($_i++%10==0): ?>
                                <th><span class="nobr"><?php echo $_attribute->getStoreLabel() ?></span></th>
                            <?php endif; ?>
                            <td>
                                <?php switch ($_attribute->getAttributeCode()) {
                                    case "price": ?>
                                        <?php echo $this->getPriceHtml($_item, true, '-compare-list-' . $_attribute->getCode()) ?>
                                        <?php break;
                                    case "small_image": ?>
                                        <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" />
                                        <?php break;
                                    case "date":
                                        echo substr($this->getProductAttributeValue($_item, $_attribute),0,10);
                                        break;
                                    default: ?>
                                        <div class="std">
                                            <?php echo $this->helper('catalog/output')->productAttribute($_item, $this->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                                        </div>
                                        <?php break;
                                } ?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tbody>
                <tr class="add-to-row">
                    <?php $_i=0 ?>
                    <?php foreach($this->getItems() as $_item): ?>
                        <?php if($_i++%10==0): ?>
                            <th>&nbsp;</th>
                        <?php endif; ?>
                        <td>
                            <?php echo $this->getPriceHtml($_item, true, '-compare-list-bottom') ?>
                            <?php if($_item->isSaleable()): ?>
                              <p>
                                  <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setPLocation('<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>', true)">
                                    <span>
                                      <svg viewBox="0 0 20 20" class="icon">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-cart"></use>
                                      </svg>
                                      <span><?php echo $this->__('Add to Cart') ?></span>
                                    </span>
                                  </button>
                              </p>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <br />
                                <ul class="add-to-links">
                                    <li>
                                        <a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                            <svg viewBox="0 0 20 20" class="icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-heart"></use>
                                            </svg>
                                            <span class="visuallyhidden"><?php echo $this->__('Add to Wishlist') ?></span>
                                        </a>
                                    </li>
                                </ul>
                            <?php endif; ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
            </table>
            <div class="buttons-set">
                <button type="button" title="<?php echo $this->quoteEscape($this->__('Close Window')) ?>" class="button" onclick="window.close();"><span><span><?php echo $this->__('Close Window') ?></span></span></button>
                <span class="please-wait" id="compare-list-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->quoteEscape($this->__('Please wait...')) ?>" title="<?php echo $this->quoteEscape($this->__('Please wait...')) ?>" class="v-middle" /> <?php echo $this->__('Please wait...') ?>
                </span>
                <a href="" id="compare-remove-all" class="compare-remove-all">
                    <?php echo $this->__('Clear All') ?>
                </a>
            </div>

            <script type="text/javascript">
                decorateTable('product_comparison');

                /**
                 * remove all items from compare
                 */
                $('compare-remove-all').observe('click', function(ev) {
                  var shouldRemoveAllItems = confirm('<?php echo Mage::helper('core')->quoteEscape($this->__('Are you sure you would like to remove all products from your comparison?')) ?>');
                  if (!shouldRemoveAllItems) {
                    return;
                  }

                  new Ajax.Request('<?php echo $_helper->getClearListUrl() ?>', {
                    parameters: {isAjax: 1},
                    onLoading: function(){$('compare-list-please-wait').show();},
                    onSuccess: function(transport) {
                      $('compare-list-please-wait').hide();
                      window.opener.location.reload();
                      window.close();
                    }
                  });
                });

                /**
                 * Send remove item request, after that reload windows
                 */
                function removeItem(url)
                {
                    new Ajax.Request(url, {
                        parameters: {isAjax: 1, method: 'POST'},
                        onLoading: function(){$('compare-list-please-wait').show();},
                        onSuccess: function(transport) {
                            $('compare-list-please-wait').hide();
                            window.location.reload();
                            window.opener.location.reload();
                        }
                    });
                }
            </script>
        <?php else: ?>
            <script type="text/javascript">window.close();</script>
        <?php endif; ?>
    </div>
</div>