<?php
/* @var $this Mage_Catalog_Block_Product_Compare_Sidebar */
?>
<?php
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
?>
<?php if ($_items): ?>
    <li class="aside-fix_item">
        <div class="tile-content">
            <?php if($_helper->getItemCount() > 0): ?>
                <div class="actions">
                    <?php // class="compare-btn button" ?>
                    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Compare')) ?>" class="sidebar-btn sidebar-btn-compare" onclick="popWin('<?php echo $_helper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                        <svg viewBox="0 0 20 20" class="icon icon-compare">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?php echo $this->getSkinUrl('icons/sprite.svg')?>#icon-compare"></use>
                        </svg>
                        <span>
                            <span><?php echo $this->__('Compare') ?></span>
                        </span>
                        <span class="count"><?php echo $_helper->getItemCount() ?></span>
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </li>
<?php endif; ?>